doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title BSS: School
		include ../../analytics
		link(rel="stylesheet", href="../../style.css")
		script(src="../../main.js", defer)
		script(src="./replaceLayers.js", defer)
		script(src="./school.js", defer)
		script(src="../js/sampler/sampler.js", type="module", defer)
	body.heart
		main
			object.heart.svg-import#heart(type="image/svg+xml", data="heart_unmasked.svg")
		object.heart.svg-import.fullpage#heart_gradient(type="image/svg+xml", data="./gradient_border.svg")
		section.instructions.instructions.flex.scrollable#instructions
			div.instructions__header
				h1 - 6 -
			div.instructions__number
				h1 School
			div.instructions__text
				p In biology, 
				p any group of fish 
				p that swim in the same direction,
				p in synchronicity, 
				p are schooling.
				p This was the experience of <span style="white-space: nowrap;">Harlesden Primary School pupils</span>
				p who created ecosystems of sound together.
				button.button.startElement.allowDefault#nav__start.waiting Loading
			div.instructions__interactions#interactions__school
				h2.instructions__heading Interactions
				div.break
				ul
					include ../interactions/single_click
					include ../interactions/explore
					include ../interactions/touch_hold
					include ../interactions/multitouch
				div.break
				h2.instructions__heading Changes
				div.break
				ul
					include ../interactions/sound
					include ../interactions/colour
					include ../interactions/movement
			include ../footer__back
		include ../../consent_info