/* ⚝ Icons */

.icon {
    width: 100px;
    height: 100px;
    max-height: 10vh;
    display: inline-block;
    
    @media screen and (orientation:landscape) {
        max-height: 10vw;
    }
}

.nav__icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2vh;
    max-height: 10vh;
    align-content: center;

    @media screen and (orientation:landscape) {
        /* max-height:10vw; */
        margin: 5vh;
    }
}

.icon__info {
    transition: opacity 0.5s ease-in-out;
    opacity: 0.8;
    cursor: pointer;
    
    @media screen and (orientation:landscape) {
        transform: translate(0px, -50px);
    }
}

.icon__info:hover {
    opacity: 1;
}
