doctype html
head
    include ../../analytics
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title BSS: Bridge
    link(rel='stylesheet', href='../../style.css')
    script(src='../../main.js' defer)
    script(src='./bridge_interact.js' type='module' defer)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js')
    script(src='p5trails.js' defer)
    //- script(src='window.js' type='module' defer)

body.fullpage.bridge
    #backdrop.bridge
    main.bridge.container.awaitStart.transparent
        .photo__container
        .vectorised__container
        .bridge__container
        .boundary__container
        .beyond__container
       
        object#bridge.bridge.svg-import(data='svg/bridge_october.svg' type='image/svg+xml')
        object#bridge__boundary.bridge.svg-import(data='svg/boundary.svg' type='image/svg+xml')
        
        img#bridge__sky1.svg.bridge.bridge__sky(src='svg/bridge__sky1.png')
        img#bridge__sky2.svg.bridge.bridge__sky(src='svg/bridge__sky2.png')
        img#bridge__sky3.svg.bridge.bridge__sky(src='svg/bridge__sky3.png')
        img#bridge__sky4.svg.bridge.bridge__sky(src='svg/bridge__sky4.png')
    include toolbar
            
    #instruction__layer
        section.instructions.flex.scrollable
            .instructions__header
                h1.instructions - 1 - 
            .instructions__number
                h1.instructions Bridge
            .instructions__text
                :markdown-it
                    When a duck swims under a bridge, 
                    
                    its quacks echo 
                    
                    across the landscape, 
                    
                    sky, waterways and stars. 
                    
                    The space of its greeting exists 
                    
                    in all of the environment.
            .instructions__button
                button.button.startElement.allowDefault#nav__start.waiting Loading
            .instructions__interactions 
                
                h2.instructions__heading Interactions
                .break
                ul
                    include ../interactions/single_click    
                    include ../interactions/explore
                //- include ../interactions/drag_circle
                //- include ../interactions/touch_hold
                //- include ../interactions/multitouch
                
                .break
                h2.instructions__heading Changes
                .break
                ul 
                    include ../interactions/sound
                    include ../interactions/colour
                    include ../interactions/brightness
                //- include ../interactions/movement
                
            include ../footer__back
          
    include ../../consent_info