doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title BSS: Bridge
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tone/13.4.9/Tone.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.77/Tone.js')
    link(rel='stylesheet', href='../../style.css')
    script(src='../../main.js' defer)
    script(src='./bridge_interact.js' type='module' defer)
    //- script(src='window.js' type='module' defer)
    style.
        #bridge{
            transform-origin: 20% 75%;
        }
        svg.bridge{
            position:absolute;
            top:0;
            left:0;
            width:100vw;
            height:100vh;
            z-index:1;
        }
       
        .vectorised__container{
            opacity:0.1;
            transition: opacity 1s;
            z-index:2;
        }
        
        .photo__container{
            opacity:1;
            transition: opacity 2s;
            z-index:1;
        }
        
        .bridge__container{
            opacity:0.1;
            transition: filter 2s, opacity 2s;
            container.style.filter='brightness(100%)';
            z-index:1;
        }
        .beyond__container{
            opacity:1;
            transition: filter 2s, opacity 2s;
            container.style.filter='brightness(100%) sepia(0%)';
            z-index:1;
        }
    
    
body.fullpage.bridge
    #backdrop.bridge
    main.container.awaitStart.transparent
        .photo__container
        .vectorised__container
        .beyond__container
        .bridge__container
        .boundary__container
        //- div#interactive
        //-     include bridge_masks
        //-     object#bridge.bridge.svg-import(data='bridge_simplified.svg' type='image/svg+xml')
        //-     object#bridge_white_light.bridge.svg-import(data='bridge_white_light.svg' type='image/svg+xml')
        //-     object#bridge_white_light_interaction.bridge.svg-import(data='bridge_white_light_interaction.svg' type='image/svg+xml')
        object#bridge.bridge.svg-import(data='svg/bridge_october.svg' type='image/svg+xml')
        object#bridge.bridge.svg-import(data='svg/boundary.svg' type='image/svg+xml')
    include toolbar
            
    // INSTRUCTIONS ON PAGE LOAD
    section.instructions.flex.scrollable
        .instructions__text
            h1.instructions - 1 - 
            h1.instructions Bridge
            p Swipe under the bridge to change the sights and sounds.
            button.button.startElement.allowDefault#nav__start Start 
        include ../footer__back
    