doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title BSS: Bridge
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tone/13.4.9/Tone.js')
    link(rel='stylesheet', href='../../style.css')
    script(src='../../main.js' defer)
    script(src='conversions.js')
    script(src='window.js' type='module' defer)
    
body.fullpage.bridge
    #backdrop.bridge
    main.container.awaitStart.transparent
        #toolbar.allowDefault
            #play__container
                button#play PLAY
            #effect__container
                label(for='effect__echo') Echo time
                input#effect__echo.fader(type='range' min='0' max='1' step='0.01' value='0.5')
                label(for='effect__echo') Echo amount
                input#effect__echo.fader(type='range' min='0' max='1' step='0.01' value='0.5')
                label(for='effect__lpf') Lowpass filter
                input#effect__lpf.fader(type='range' min='0' max='1' step='0.01' value='0.5')
                label(for='effect__comb__time') Comb time
                input#effect__comb__time.fader(type='range' min='0.1' max='0.9' step='0.01' value='0.5')
                label(for='effect__comb__feedback') Comb resonance
                input#effect__comb__feedback.fader(type='range' min='0' max='0.9' step='0.01' value='0.5')
            #colour-picker__container
                label(for='colour-picker') Colour picker
                input#colour-picker(type='color' value='#0000ff')
            #states__containers
                button#states__save__1 SAVE 1
                button#states__save__2 SAVE 2
                input#states__interpolate(type='range' min='0' max='1' step='0.01' value='0')
    div#interactive
        svg#interactive__svg.bridge(version='1.1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 100 100' preserveaspectratio='none')
            defs 
                linearGradient#gradient(x1='0%' y1='0%' x2='100%' y2='0%')
                    stop(offset='0%' stop-color='white')
                    stop(offset='50%' stop-color='black')
                    stop(offset='100%' stop-color='white')
                mask#cover__img--mask 
                    rect#cover__img--mask(x='0' y='0' width='100' height='200' fill='white')
                    rect#cover__img--mask__bottom.bridge.cover__mask(x='0' y='25' width='100' height='25' fill='black')
                    rect#cover__img--mask__top.bridge.cover__mask(x='0' y='0' width='100' height='10' fill='black')       
        object#bridge.bridge.svg-import(data='bridge_simplified.svg' type='image/svg+xml')
        object#bridge_white_light.bridge.svg-import(data='bridge_white_light.svg' type='image/svg+xml')
        object#bridge_white_light_interaction.bridge.svg-import(data='bridge_white_light_interaction.svg' type='image/svg+xml')
        
    // INSTRUCTIONS ON PAGE LOAD
    section.instructions.flex.scrollable
        .instructions__text
            h1.instructions Bridge
            p Instructions ...
            p Instructions ...
            p Instructions ...
            
            button.button.startElement.allowDefault#nav__start Start 
            
            p Instructions ...
            p Instructions ...
        
        include ../footer__back