doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title BSS: Bridge
    link(rel='stylesheet', href='../../style.css')
    script(src='../../main.js' defer)
    script(src='./bridge_interact.js' type='module' defer)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js')
    script(src='p5trails.js' defer)
    //- script(src='window.js' type='module' defer)

body.fullpage.bridge
    #backdrop.bridge
    main.bridge.container.awaitStart.transparent
        .photo__container
        .vectorised__container
        .bridge__container
        .boundary__container
        .beyond__container
       
        object#bridge.bridge.svg-import(data='svg/bridge_october.svg' type='image/svg+xml')
        object#bridge.bridge.svg-import(data='svg/boundary.svg' type='image/svg+xml')
    include toolbar
            
    
    section.instructions.flex.scrollable
        .instructions__header
            h1.instructions - 1 - 
        .instructions__number
            h1.instructions Bridge
        .instructions__text
            p When a duck swims under a bridge, 
            p its quacks echo across the landscape, 
            p sky, waterways and stars. 
            p The space of its greeting exists in all of the environment.
        .instructions__button
            button.button.startElement.allowDefault#nav__start Start
        .instructions__interactions 
            
            h2.instructions__heading Interactions
            .break
            ul
                include ../interactions/single_click    
                include ../interactions/explore
            //- include ../interactions/drag_circle
            //- include ../interactions/touch_hold
            //- include ../interactions/multitouch
            
            .break
            h2.instructions__heading Changes
            .break
            ul 
                include ../interactions/sound
                include ../interactions/colour
                include ../interactions/brightness
            //- include ../interactions/movement
            
        include ../footer__back
