doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title BSS: Bridge
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tone/13.4.9/Tone.js')
    link(rel='stylesheet', href='../../style.css')
    script(src='../../main.js' defer)
    script(src='window.js' type='module' defer)
    
body.fullpage.bridge
    #backdrop.bridge
    main.container.awaitStart.transparent
        include toolbar
        div#interactive
            include bridge_masks
            object#bridge.bridge.svg-import(data='bridge_simplified.svg' type='image/svg+xml')
            object#bridge_white_light.bridge.svg-import(data='bridge_white_light.svg' type='image/svg+xml')
            object#bridge_white_light_interaction.bridge.svg-import(data='bridge_white_light_interaction.svg' type='image/svg+xml')
            
    // INSTRUCTIONS ON PAGE LOAD
    section.instructions.flex.scrollable
        .instructions__text
            h1.instructions Bridge
            p Swipe under the bridge to change the sights and sounds.
            button.button.startElement.allowDefault#nav__start Start 
        include ../footer__back