doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title BSS: Bridge
    link(rel='stylesheet', href='../../style.css')
    script(src='../../main.js' defer)
    script(src='./bridge_interact.js' type='module' defer)
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js')
    //- script(src='p5trails.js' defer)
    
        
    //- script(src='window.js' type='module' defer)
    style.
        main{
            -webkit-touch-callout: none; /* iOS Safari */
            touch-action:none!important;
        }
        svg{
            -webkit-touch-callout: none; /* iOS Safari */
            touch-action:none!important;
            
        }
        .p5Canvas{
            z-index:100;
            position:absolute;
            top:0;
            left:0;
            mask: url(#boundary);
        }
        
        .boundary__container{
            opacity:1;
            transition: filter 2s, opacity 2s;
            container.style.filter='brightness(100%)';
            z-index:1;
        }
        .beyond__container{
            opacity:1;
            transition: filter 2s, opacity 2s;
            container.style.filter='brightness(100%) sepia(0%)';
            z-index:1;
        }
        .beyond1remove,.beyond2remove{
            //- opacity:0;
            transition: filter 2s, opacity 2s;
            container.style.filter='brightness(100%) sepia(0%)';
            z-index:1;
        }
        .note_1{
            //- opacity:0;
            transition: filter 0.5s;
        }
    
    
body.fullpage.bridge
    #backdrop.bridge
    main.container.awaitStart.transparent
        .photo__container
        .vectorised__container
        .bridge__container
        .boundary__container
        .beyond__container
       
        object#bridge.bridge.svg-import(data='svg/bridge_october.svg' type='image/svg+xml')
        object#bridge.bridge.svg-import(data='svg/boundary.svg' type='image/svg+xml' id='boundary')
    include toolbar
            
    // INSTRUCTIONS ON PAGE LOAD
    section.instructions.flex.scrollable
        .instructions__header
            h1.instructions - 1 - 
        .instructions__number
            h1.instructions Bridge
        .instructions__text
            p When a duck swims under a bridge, 
            p its quacks echo across the landscape, 
// END: modified code
            p sky, waterways and stars. 
            p The space of its greeting exists in all of the environment.
        .instructions__button
            button.button.startElement.allowDefault#nav__start Start
        .instructions__interactions 
            //- h2 Interactions to try:
            ul
                li 
                    include ../interactions/single_click    
                li 
                    include ../interactions/explore
            //- include ../interactions/drag_circle
            //- include ../interactions/touch_hold
            //- include ../interactions/multitouch
            //- h2 Interacting will affect: 
            ul 
                li
                    include ../interactions/sound
                li 
                    include ../interactions/colour
                li
                    include ../interactions/brightness
            //- include ../interactions/movement
            
        include ../footer__back
