#toolbar.allowDefault
    #play__container
        button#play PLAY
    #effect__container
        label(for='effect__echo') Echo time
        input#effect__echo.fader(type='range' min='0' max='1' step='0.01' value='0.5')
        label(for='effect__echo') Echo amount
        input#effect__echo.fader(type='range' min='0' max='1' step='0.01' value='0.5')
        label(for='effect__lpf') Lowpass filter
        input#effect__lpf.fader(type='range' min='0' max='1' step='0.01' value='0.5')
        label(for='effect__comb__time') Comb time
        input#effect__comb__time.fader(type='range' min='0.1' max='0.9' step='0.01' value='0.5')
        label(for='effect__comb__feedback') Comb resonance
        input#effect__comb__feedback.fader(type='range' min='0' max='0.9' step='0.01' value='0.5')
    #colour-picker__container
        label(for='colour-picker') Colour picker
        input#colour-picker(type='color' value='#0000ff')
    #states__containers
        button#states__save__1 SAVE 1
        button#states__save__2 SAVE 2
        input#states__interpolate(type='range' min='0' max='1' step='0.01' value='0')