doctype html
head
  title BSS: Ripples
  meta(charset='UTF-8')
  link(rel='stylesheet' href='../../style.css')
  link(rel='stylesheet' href='./style.css')
  style.
    canvas{
      user-select:none;
    }
    
    
    
    #note_1{
      transition:all 1s!important;
    }
   
body.fullpage
  #canvas
  #content
    #water-ripples
      #water-ripples-title
        h1(style="user-select:none;pointer-events:none;")
      include interact_painting.html
      img(src='reflection1.jpeg' alt='water' crossorigin='' data-sampler='planeTexture')

  script(src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js')
  script(src='https://www.curtainsjs.com/build/curtains.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/tone/13.4.9/Tone.min.js')
  script(src='../../main.js')
  script(src='./script.js' type='module' defer)
  script(src='./interact.js' defer)
  script(src='./touch.js' defer)
  include ../../checkLoaded
  script(src='./samples.js' defer)
    