doctype html
head
  title BSS: Ripples
  include ../../analytics
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../../style.css')
  
  script.
      // temporary script to ensure files are loaded in the correct order -- see assignStartButton.js
      window.filesToLoad = ['../../loops/heart_heart_trees_louder.m4a'];
      
  script(src='../../main.js' defer)
  script(src='../js/ripples_jq/jquery.ripples.js' defer)
  script(src='./ripples_jq.js' defer)
  script(src='./samples.js' defer)
  
  style.
    main{
      overflow:hidden;
      position:absolute;
      top:0;
      left:0;
      width:100vw;
      height:100vh;
      transition:filter 1s ease;
    }
    
    body{
      background-image: url(./reflection1.jpeg);
      background-size: cover;
      //- background-repeat: repeat;
      //- touch-action:none;
    }
    
    svg{
      touch-action:none;
    }
    
    canvas{
      touch-action: none;
    }
    
    circle{
      transition:all 0.5s ease;
      transform-origin: center center;
    }
    
    
    .ripple__interact__display{
      transition: all 30s;
      opacity:1;
    }
    
    .ripple__interact__display.on{
      transition: all 1s ease;
      opacity:0;
      
    }
    
    .ripple__interact{
      opacity:0;
    }
    
body.fullpage#ripples__body
  //- main.awaitStart.transparent.ripples
  main.ripples
    #ripples__jq
    
        //- img(src='reflection1.jpeg' alt='water' crossorigin='' data-sampler='planeTexture')
        //- img(src='reflection_edge.png' alt='water' crossorigin='' data-sampler='planeTexture')
    svg#centeredCircle(width='100%', height='100%', viewBox='0 0 100 100')
      circle#waterCircle(cx='50', cy='50', r='40', stroke='green', stroke-width='4', fill='yellow' style='opacity:0.4;')
    object#painting.ripples.svg-import(type="image/svg+xml" data="interact_painting.svg")
  
  section.instructions.flex.scrollable
      .instructions__header
        h1.instructions - 4 - 
      .instructions__number
        h1.instructions Ripples
      .instructions__text
          p A moving undulation in the surface of the strip of the water of the canal. 
          p To ripple is to move like the undulating surface of a body of water; to undulate. 
          p Ripples propagate like a moving wave. 
          p In sound, it is a small oscillation of an otherwise steady signal.
          button.button.startElement.allowDefault#nav__start.waiting Loading 
      .instructions__interactions 
          h2.instructions__heading Interactions
          .break
          ul
            include ../interactions/single_click
            include ../interactions/explore
            //- include ../interactions/drag_circle
            //- include ../interactions/touch_hold
              include ../interactions/multitouch
          .break
          h2.instructions__heading Changes
          .break
          ul
            include ../interactions/sound
            include ../interactions/colour
            include ../interactions/movement
            //- include ../interactions/brightness
          
        
      include ../footer__back
  include ../../consent_info