doctype html
head
  meta(charset='UTF-8')
  title BSS: Ripples
  link(href='https://fonts.googleapis.com/css2?family=Rakkas&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='../../style.css')
  link(rel='stylesheet' href='./style.css')
  style.
    #water-ripples-title{
      display:none;
    }

    body{
        overflow:hidden;
        transition:all 1s ease;
        height:100vh;
        width:100vw;
    }
    
    canvas{
      user-select:none;
    }
    
    #painting{
      user-select:none;
      width:100%; 
      position:absolute;
      margin:0;
      display:block;
      //- transform:scale(2);
      
      transform-origin:center;
      
      @media (max-width: 600px) {
       width:100%; 
       height:100%;
      
        top:0;
        transform-origin:center;
      }

      
    }
   
   
body
  #canvas
  #content
    #water-ripples
      #water-ripples-title
        h1(style="user-select:none;pointer-events:none;")
      include interact_painting.html
      img(src='reflection1.jpeg' alt='water' crossorigin='' data-sampler='planeTexture')

  script(src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js')
  script(src='https://www.curtainsjs.com/build/curtains.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tone/13.4.9/Tone.min.js')
  script(src='../../main.js')
  script(src='./script.js' type='module' defer)
  script(src='./interact.js' defer)
  script(src='./touch.js' defer)
  include ../../checkLoaded
  script.
    let loadScript = loadingIndicator.init();
    var paintingFlag = true;
    checkLoaded('addBackButton');