#interactions__can.instructions__interactions 
  ul
    li
        include ../interactions/single_click
    li
        include ../interactions/explore
    //- include ../interactions/drag_circle
    li
        include ../interactions/touch_hold
    li
        include ../interactions/multitouch
  ul
    li
        include ../interactions/sound
    li
        include ../interactions/colour
    li            
        include ../interactions/brightness