doctype html
head
  title BSS: Ripples
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../../style.css')
  script(src='../../main.js' defer)
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='../js/ripples_jq/jquery.ripples.js')
  
  style.
    main{
      overflow:hidden;
      position:absolute;
      top:0;
      left:0;
      width:100vw;
      height:100vh;
    }
    #ripples__jq{
      position:absolute;
      top:-50vh;
      left:-50vw;
      width:200vw;
      height:200vw;
      background-image: url(./reflection1.jpeg);
      background-size: cover;
    }
    
body.fullpage
  //- main.awaitStart.transparent.ripples
  main.ripples
    #ripples__jq
    
        //- img(src='reflection1.jpeg' alt='water' crossorigin='' data-sampler='planeTexture')
        //- object#painting.ripples.svg-import(type="image/svg+xml" data="interact_painting.svg")
        //- img(src='reflection_edge.png' alt='water' crossorigin='' data-sampler='planeTexture')

  // INSTRUCTIONS ON PAGE LOAD
  section.instructions.flex.scrollable
      .instructions__text
          h1.instructions - 3 - 
          h1.instructions Ripples
          p Experimental version October 2023.
         
          
          button.button.startElement.allowDefault#nav__start Start 
          
          
        
      include ../footer__back
  
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js')
  //- script(src='https://www.curtainsjs.com/build/curtains.min.js')
  
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/tone/13.4.9/Tone.min.js')
  //- script(src='../js/script.js' type='module' defer)
  //- script(src='./interact.js' defer)
  //- script(src='./touch.js' defer)
  //- script(src='./samples.js' defer)
  script.
    let container = '#ripples__jq'
    $(document).ready(function() {
      try {
        $('#ripples__jq').ripples({
          resolution: 256,
          dropRadius: 40, //px
          perturbance: 0.01,
          interactive:false
        });
        
      }
      catch (e) {
        $('.error').show().text(e);
      }
      touch.setAction('#ripples__jq')
      window.addEventListener('touch-pickup',(e)=>{
        let {x,y, type} = e.detail
        if(type == 'start' || type == 'enter'){ 
          $(container).ripples('set', 'interactive', true)
        } else if(type == 'end' || type == 'leave'){
          $(container).ripples('set', 'interactive', false)
        }
        //- $('#ripples__jq').ripples('drop',x,y, 5, 0.04)
      })
      
    })