doctype html
head
  title BSS: Ripples
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../../style.css')
  script(src='../../main.js' defer)
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js' defer)
  script(src='../js/ripples_jq/jquery.ripples.js' defer)
  script(src='./ripples_jq.js' defer)
  style.
    main{
      overflow:hidden;
      position:absolute;
      top:0;
      left:0;
      width:100vw;
      height:100vh;
    }
    body{
      //- position:absolute;
      //- //- top:-50vh;
      //- //- left:-50vw;
      //- //- width:200vw;
      //- //- height:200vw;
      //- width:100vw;
      //- height:100vh;
      background-image: url(./reflection1.jpeg);
      background-size: cover;
      //- background-repeat: repeat;
      touch-action:none;
    }
    svg{
      touch-action:none;
    }
    canvas{
      touch-action: none;
    }
    circle{
            transition:all 0.5s ease;
            transform-origin: center center;
    }
    #centeredCircle{
      position:absolute;
      display:block;
      top:0;
      left:0;
      //- z-index:10;
    }
    #waterCircle{
          transform:scale(1);
      }
      #echoCircle{
          transform:scale(0);
      }
      #echoCircle2{
          transform:scale(0);
          transition: all 1s ease;
      }
      .ripple__interact{
        transition: all 1s ease;
        opacity:1;
      }
      .ripple__interact.on{
        transition: all 0.5s ease;
        opacity:0;
        
      }
body.fullpage#ripples__body
  //- main.awaitStart.transparent.ripples
  main.ripples
    #ripples__jq
    
        //- img(src='reflection1.jpeg' alt='water' crossorigin='' data-sampler='planeTexture')
        //- img(src='reflection_edge.png' alt='water' crossorigin='' data-sampler='planeTexture')
    svg#centeredCircle(width='100%', height='100%', viewBox='0 0 100 100')
      circle#waterCircle(cx='50', cy='50', r='40', stroke='green', stroke-width='4', fill='yellow' style='opacity:0.4;')
      //- circle#echoCircle(cx='50', cy='50', r='40', stroke='none', stroke-width='4', fill='darkblue' style='opacity:0.4;')
      //- circle#echoCircle2(cx='50', cy='50', r='40', stroke='none', stroke-width='4', fill='darkblue' style='opacity:0.4;')
    object#painting.ripples.svg-import(type="image/svg+xml" data="interact_painting.svg")
  // INSTRUCTIONS ON PAGE LOAD
  section.instructions.flex.scrollable
      .instructions__text
          h1.instructions - 3 - 
          h1.instructions Ripples
          p Experimental version October 2023.
         
          
          button.button.startElement.allowDefault#nav__start Start 
          
          
        
      include ../footer__back
  
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/tone/13.4.9/Tone.min.js')
  //- script(src='../js/script.js' type='module' defer)
  //- script(src='./interact.js' defer)
  //- script(src='./touch.js' defer)
  //- script(src='./samples.js' defer)
  