html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BSS: Elements
        link(rel='stylesheet', href='../style.css')
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet">
        style.
            button{
                font-size: 2rem;
            }
    body
        main
            button#b1 1
            button#b2 2
            button#b3 3
            button#b4 4
            button#b5 5