html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Biodivergent Sites and Sounds: QR codes
        link(rel='stylesheet' href='../style.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js")
        script(src="../main.js" defer)
        script(src="./qr.js" defer)
            
    body
        object#main__title.nav__back.elements(type="image/svg+xml" data="../svg/title.svg" role="header")
        main.splash.qr__container.elements
            ol.bar.qr__container.elements.index
        footer
            include footer  
        script.
            if(window.touch) touch.unlisten();