html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Biodivergent Sites and Sounds: QR codes
        link(rel='stylesheet' href='../style.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js")
        script(src="../main.js" defer)
        script(src="./qr.js" defer)
        style.
            .qr__container{
                margin:auto;
                background-color:rgba(0,64,128,0.8);
            }

            .index{
                width:90%!important;
            }

            main{
                left:0px;
                right:0px;
                margin:auto;
            }

            #main__title{
                display: inline-block;
                position: static;
                height:20vh!important;
            }
    body
        include ../svg/title.svg
        main.splash.qr__container
            ol.bar.qr__container.index(style="margin:none!important;")
        footer
            include footer  
        script.
            if(window.touch) touch.unlisten();