html,
body {
    overscroll-behavior-y: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    background-color: $background;
    font-family: Nunito;
    font-weight: 100;
    color: lightgray;
}