html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BSS: mix
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet")
        link(rel='stylesheet' href='../../style.css')
        link(href="./style_mix.css" rel="stylesheet")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js")
        script(src="../../main.js")
        style.
            .body__background,main{
                border:none;
            }
            .main__qr,.bar{
                border:none!important;
                
            }
            image{
                transition: all 0.3s ease-in-out;
                opacity:0.7;
            }
            #start{
                position:absolute;
                bottom:20px;
                
            }
            button.nav__back{
                max-width:800px;
            }
            input{
                opacity:0;
            }
            
    body
        .body__background(aria-hidden="true" style="display:none;")
        main.main__qr(style="background:none!important;")
            
            .bar(style="width:100%; display:none;")
                input#crossFader(type="range" min="0" max="1" step="0.01" value="0.5")
            svg#meter_0.meter(viewbox='0,0,800,800' aria-hidden="true") 
                style.
                    circle{
                        transition:r 0.1s ease-in-out, x 0.1s ease-in-out, y 0.1s ease-in-out, fill 1s;
                        opacity:0.3;
                    }
                    rect{
                        
                    }
                    
                circle#circle_1.thumb.inactive(cx="50%" cy="50%" r="25" fill="cyan")
                rect#slider__right.inactive.slider(x="0" y="0" width="50%" height="100%" fill="cyan" opacity="0.4")
                
            svg#meter_1.meter(viewbox='0,0,800,800' aria-hidden="true")
                style.
                    circle{
                        transition:r 0.1s ease-in-out, fill 1s;
                        opacity:0.3;
                    }
                    rect{
                        
                    }
                rect#slider__left.inactive.slider(x="50%" y="0" width="50%" height="100%" fill="beige" opacity="0.5")
                circle#circle_0.thumb.inactive(cx="50%" cy="50%" r="20" fill="beige" )
            .bar
                button.button.allowDefault#start START
            include L.svg 
            include R.svg
        include ../../loading
    script(type="module" src="./mix.js")
    include ../../checkLoaded
    script.
        checkLoaded('addBackButton');
    script.
        touch.setAction('.meter');
        document.addEventListener('touch-pickup',(e)=>{
            let {type, id} = e.detail;
            if(id=='start') return;
            if(type=='start'){
                document.querySelectorAll('.thumb').forEach((thumb)=>{
                    thumb.setAttribute('transition',`r 0.1s ease-in-out, x 0.6, y 0.6s ease-in-out`);
                })
                mix.echo.effectReturn.gain.rampTo(1, 0.1);
            } else {
                document.querySelectorAll('.thumb').forEach((thumb)=>{
                    thumb.setAttribute('transition',`r 0.1s ease-in-out`);
                })
                mix.echo.effectReturn.gain.rampTo(0.2,1);
            }
            let {x, y, range} = e.detail.relative;
            let value = x / range.x;
            document.querySelector('#crossFader').value = value;
            document.querySelector('#crossFader').dispatchEvent(new Event('input'));

            if(x<10)x=10;
            if(x>range.x)x=range.x - 10;
            if(y<10)y=10;
            if(y>range.y)y=range.y - 10;

            document.querySelectorAll('.thumb').forEach((thumb)=>{
                thumb.setAttribute('cx',x);
                thumb.setAttribute('cy',range.y - y);
            })
            
            let notchValue = 4000 * ((y)/range.y);
            mix.notch.frequency.rampTo(notchValue, 0.1);
            mix.notch.Q.rampTo((20 * ((1-x)/range.x)) + 20, 0.1);
            mix.echo.delayTime.rampTo((0.1 * ((1-y)/range.y)) + 0.5, 0.1);
            document.querySelectorAll('.slider').forEach((slider,i)=>{
                if(i==0){
                    slider.setAttribute('width',x);
                } else {
                    slider.setAttribute('width',range.x - x);
                    slider.setAttribute('x',x);
                }
                
            })
        })
    
    