html(lang="en")
    head
        title BSS: mix
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet")
        link(rel='stylesheet' href='../../style.css')
        link(href="./style_mix.css" rel="stylesheet")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js")
        script(src="../../main.js" defer)
        script(type="module" src="./mix.js" defer)
        script(src="mix2.js" defer)
        style.
            #start__icon{
                
            }
    body
        .body__background.mix(aria-hidden="true")
        main.main__qr.mix
            .bar.mix.xf
                input#crossFader.mix(type="range" min="0" max="1" step="0.01" value="0.5")
                
            // these inline SVGs can stay for now
            
            svg#meter_0.meter.mix(viewbox='0,0,800,800' aria-hidden="true") 
                circle#circle_1.thumb.mix.inactive.display1(cx="50%" cy="50%" r="25" fill="cyan")
                rect#slider__right.mix.inactive.slider(x="0" y="0" width="50%" height="100%" fill="cyan" opacity="0.4")
                
            svg#meter_1.meter(viewbox='0,0,800,800' aria-hidden="true")
                rect#slider__left.inactive.slider(x="50%" y="0" width="50%" height="100%" fill="beige" opacity="0.5")
                circle#circle_0.thumb.inactive.mix.display2(cx="50%" cy="50%" r="20" fill="beige" )
            
            .bar.mix
                button.button#start.allowDefault.mix START
                    //- object.svg-import.allowDefault.mix.start__icon(data="../../icons/noun-play-1018347-FFFFFF.svg" type="image/svg+xml" aria-label='start')
                
            object#left.svg-import(data="./L.svg" type="image/svg+xml")
            object#right.svg-import(data="./R.svg" type="image/svg+xml")
        section.instructions
            p Mix instructions ...
            button.button.startElement.allowDefault#nav__start Start

        