html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BSS: Elements
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.77/Tone.js")
        link(rel='stylesheet', href='../../style.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet")
        style.
            button{
                font-size: 2rem;
            }
    body
        main.main__qr
            .bar
                button.button#start Start

    script.
        let mix = {
            channels:[new Tone.Channel(), new Tone.Channel()]
        }
        let sounds = [
            new Tone.Player("canal_II_ch_1.mp3"),
            new Tone.Player("canal_II_ch_2.mp3")
        ]
        sounds.forEach((sound,i) => {
            sound.connect(mix.channels[i]);
            mix.channels[i].pan.value = 1 - i * 2;
            mix.channels[i].toDestination();
        })
        
        let start = document.querySelector("#start")
        start.addEventListener("click", () => {
            sounds.forEach(sound => {
                sound.start()
            })
        })