html(lang="en")
    head
        include analytics
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BSS: About
        link(rel='stylesheet', href='style.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet")
        script(src="./nav.js" defer)
            
    body.about
        object#main__title.about.nav__back(type="image/svg+xml" data="svg/bss_title_small.svg" role="banner")
        a.link(href="https://www.elinorrowlands.com/biodivergent-sites-and-sounds") 
                button.button more information on<br>elinorrowlands.com »
       
        main.textBlock.infoText
            .textColumn
                include:markdown-it ../markdown/about_main.md

            .textColumn
                include:markdown-it ../markdown/about_credits.md

        footer
            include footer  
        script.
            if(window.touch) touch.unlisten();