

<!-- Google tag (gtag.js) -->
script(async src="https://www.googletagmanager.com/gtag/js?id=G-VEV5M9N4V0")
script.
    window.dataLayer = window.dataLayer || [];
    
    function gtag(){dataLayer.push(arguments);}
    const greyedElementsQuery = 'main,#instruction__layer,.instructions,.banner__title';
    
    var consent = localStorage && localStorage.getItem('consent');
    var consentHasBeenSet = localStorage && localStorage.getItem('consentHasBeenSet');
    //- console.log(localStorage && localStorage.getItem('consent'));
    if (consent === 'granted') {
        gtag('consent', 'update', {
            'ad_storage': 'granted',
            'analytics_storage': 'granted'
        });
    } else {
        if(!localStorage.getItem('consentHasBeenSet')){
            gtag('consent', 'default', {
            'ad_storage': 'denied',
            'analytics_storage': 'denied'
            });
            gtag('set', 'allow_google_signals', false);
            gtag('js', new Date());
            window.addEventListener('load', function() {
                document.querySelectorAll('.consent').forEach((el)=>{
                    el.style.display = 'block';
                })
            if(document.querySelectorAll('.consent').length > 0) document.querySelectorAll(greyedElementsQuery).forEach(x=>x.classList.add('greyed'));    
            });
        }
        
    }

  gtag('config', 'G-VEV5M9N4V0');
  
    function showConsentUI(consentGiven) {
        
        localStorage.setItem('consentHasBeenSet', true);
        if (consentGiven) {
        
            localStorage && localStorage.setItem('consent', 'granted');
            gtag('consent', 'update', {
                'analytics_storage': 'granted'
            });
        } else {
        
        localStorage && localStorage.setItem('consent', 'denied');
            gtag('consent', 'update', {
                'analytics_storage': 'denied'
            });
        }
        
        document.querySelectorAll('.consent').forEach((el)=>{
            el.style.display = 'none';
        })
        
        document.querySelectorAll(greyedElementsQuery).forEach(x=>x.classList.remove('greyed'));
    }