p(aria-label="project partners").footer__logos
    a(href="https://canalrivertrust.org.uk/")
        img#logo__canal.logo(src='logos/canal-and-river-trust-logo-nostrap.svg' alt="Canal & River Trust")
    a(href="https://www.artscouncil.org.uk/") 
        img#logo__ace.logo(src='logos/lottery_Logo_White.png' alt="Arts Council England Lottery Funded")
    a(href="https://www.colesgallery.co.uk/")
        img#logo__coles.logo(src='logos/coles.png' alt="Cole's Gallery")
    a(href="https://www.creativehealthcamden.com/")
        img#logo__chc.logo(src='logos/chc.png' alt="Creative Health Camden")