p(aria-label="project partners").footer__content
    //- a.link__fix(href="https://canalrivertrust.org.uk/")
    img#logo__canal2.logo-fit(src='logos/canal-and-river-trust-logo-nostrap.svg' alt="Canal & River Trust")
    //- a.link__fix(href="https://www.artscouncil.org.uk/")
    img#logo__ace2.logo-fit(src='logos/lottery_Logo_White.png' alt="Arts Council England Lottery Funded")
    //- a.link__fix(href="https://www.colesgallery.co.uk/")
    img#logo__coles2.logo-fit(src='logos/coles.png' alt="Cole's Gallery")
    //- a.link__fix(href="https://www.creativehealthcamden.com/")
    img#logo__chc2.logo-fit(src='logos/chc.png' alt="Creative Health Camden")