html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Biodivergent Sites and Sounds
        link(rel='stylesheet', href='style.css')
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet">

    body
        h1 Biodivergent Sites and Sounds
        include svg/bg.svg
        footer
            //- p.footer__text Coming soon...
            p.footer__logos
                a(href="https://www.artscouncil.org.uk/") 
                    img(src='logos/grant_png_white.png' style='height: 100px;' alt="Arts Council England")
                a(href="https://canalrivertrust.org.uk/")
                    img(src='logos/canal-and-river-trust-logo-nostrap.svg' style='height:90px;' alt="Canal & River Trust")