html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Biodivergent Sites and Sounds
        link(rel='stylesheet', href='style.css')
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet">

    body
        //- banner 
        main
            //- .wash
            include svg/title.svg
            include svg/bg.svg
            .nav__icon
                //- p#holder Coming soon...
                a(href="https://www.elinorrowlands.com/biodivergent-sites-and-sounds")
                    img.icon.icon__info(src='icons/noun-information-1211376-FFFFFF.svg' title="Information")
                
        footer
            //- p.footer__text Coming soon...
            p(aria-label="project partners").footer__logos
                a(href="https://canalrivertrust.org.uk/")
                    img#logo__canal.logo(src='logos/canal-and-river-trust-logo-nostrap.svg' alt="Canal & River Trust")
                a(href="https://www.artscouncil.org.uk/") 
                    img#logo__ace.logo(src='logos/lottery_Logo_White.png' alt="Arts Council England Lottery Funded")
                a(href="https://www.colesgallery.co.uk/")
                    img#logo__coles.logo(src='logos/coles.png' alt="Cole's Gallery")
                a(href="https://www.creativehealthcamden.com/")
                    img#logo__chc.logo(src='logos/chc.png' alt="Creative Health Camden")
                