html(lang="en")
    head
        include head
        script(src="./main.js" defer)
        script(src="./front.js" defer)
        title Biodivergent Sites and Sounds
        style.
            .infoText{
                display:none;
            }
            .buttons{
                text-align:center;
                width:100%;
            }
    body
        main.splash
            object#main__title.nav__back(type="image/svg+xml" data="svg/title.svg" role="header")
            img.front__water(src="bg0_lo.png" alt="An abstract water texture in dark blue with a faint wash of aqua, gently ebbing back and forth.")
            img.front__water.alt(src="bg0_lo.png" aria-hidden="true")
            img.front__water.alt2(src="bg0_lo.png" aria-hidden="true")
            //- img.front__map(src="svg/map.svg")
            .buttons
                button.button(onclick='window.location.href="elements"') Interactive Experience
                button.button(onclick='window.location.href="trail.html"') Soundscape 
            .nav__icon
                a(href="about.html")
                    img.icon.icon__info(src='icons/noun-information-150178-FFFFFF.svg' title="Information")  
            .infoText        
                p Biodivergent Sites & Sounds is an autoethnographic investigation of place, of waterways and of autism as a cultural identity. 
                p An autistic-led immersive and accessible experience for audiences to experience nature and to engage in the preservation of Harlesden Canal.

                p The project was led by multi-disciplinary artist Elinor Rowlands in collaboration with the Canal & River Trust (and its many volunteers); fellow neurodivergent artists Jo-anne Cox, Dee Fry, R.Dyer and Ben Hajioff; young people from Harlesden Primary School and Sport at the Heart through the Young Brent Foundation; and creative technologist Charles Matthews. 
                p It was kindly funded by Arts Council England and the Canal & River Trust, with support from Cole’s Gallery and Creative Health Camden. 
                p To find out more about the project, follow this link.
            .infoText
                p Dip your fingers in the water…
                p 
                    button ENTER                                                                  	ENTER
                p Interactive Map of the Canal                                	Walking Trail of the Canal 
                    button ENTER  
        footer
            include footer_links
        