html(lang="en")
    head
        include head
        script(src="./main.js" defer)
        title Biodivergent Sites and Sounds
        script.
            let animationCount = 1;

            const animation = ()=>{
                let waterscale = animationCount % 2 == 0 ? 1.1 : 1.2;
                document.querySelectorAll('.front__water').forEach((x,i)=>{
                    x.style.transform = `scale(${waterscale})`
                    console.log(x);
                });
                animationCount++;
            }            
    body
        main.splash
            include svg/title.svg
            //- include svg/bg.svg
            img.front__water(src="bg0_lo.png" alt="An abstract water texture in dark blue with a faint wash of aqua, gently ebbing back and forth.")
            img.front__water.alt(src="bg0_lo.png" aria-hidden="true")
            img.front__water.alt2(src="bg0_lo.png" aria-hidden="true")
            .nav__icon
                a(href="https://www.elinorrowlands.com/biodivergent-sites-and-sounds")
                    img.icon.icon__info(src='icons/noun-information-150178-FFFFFF.svg' title="Information")  
        footer
            include footer
    script.
        //- animation();
        //- window.setInterval(animation, 60000);
        let infoIcon = document.querySelector('.icon__info');
        let rect = infoIcon.getBoundingClientRect();
        let footer = document.querySelector('footer');
        let footerRect = footer.getBoundingClientRect();
        if(rect.bottom > footerRect.top){
            infoIcon.style.transform = `translateY(${-100}px)`;
        }