html(lang="en")
    head
        include analytics
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BSS: Map
        link(rel='stylesheet', href='style.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet")
        script(src="./main.js" defer)
        script(src="./nav.js" defer)
        script(src="./map.js" defer)
        style.
            a:link{
                text-decoration:none;
            }

    body.about
        object#main__title.about.nav__back(type="image/svg+xml" data="svg/bss_title_small.svg" role="banner")
        main.map__november
            //- #backdrop__map
            
            object#map.map.map__main.svg-import(data='svg/map_B.svg' type='image/svg+xml')
            //- ol.bar.qr__container.elements.index
                    
            #qr__absolute
        nav
            //- include elements_list.html
            ol.bar.qr__container.elements.index
                a(href='elements/bridge/?from=map')
                    include element1.html
                a(href='elements/text/?from=map')
                    include element2.html
                a(href='elements/crossing/?from=map')
                    include element3.html
                a(href='elements/ripples/?from=map')
                    include element4.html
                a(href='elements/rusty_can/?from=map')
                    include element5.html
                a(href='elements/school/?from=map')
                    include element6.html
            
        footer
            include footer  
        script.
            
            document.querySelectorAll('.nav__back').forEach((el)=>{
                el.addEventListener('click', ()=>{
                    window.location.href="index.html";
                })
            })
           
            
           
           