html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BSS: Map
        link(rel='stylesheet', href='style.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet")
        script(src="./main.js" defer)
        script(src="./nav.js" defer)
        script(src="./map.js" defer)

    body.about
        object#main__title.about.nav__back(type="image/svg+xml" data="svg/bss_title_small.svg" role="banner")
        main.map__block.textBlock
            //- #backdrop__map
            
            object#map.map.map__main.svg-import(data='svg/map_B.svg' type='image/svg+xml')
            //- ol.bar.qr__container.elements.index
            nav.hidden
                include elements_list.html
            
        footer
            include footer  
        script.
            
            document.querySelectorAll('.nav__back').forEach((el)=>{
                el.addEventListener('click', ()=>{
                    window.location.href="index.html";
                })
            })
           
            
           
           