html(lang="en")
    head
        include head
        title Biodivergent Sites and Sounds: map
        style.
            #map{
                width:80%;
                height:80%;
                position:absolute;
                top:0;
                left:0;
                z-index:0;
                bottom:0;
                right:0;
                margin:auto;
            }
    body 
        include map/map.html