html(lang="en")
    head
        include head
        title Biodivergent Sites and Sounds: map
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js")
    
    body 
        main
        #backdrop
        include map/map2.html
        canvas#overlay
    script.
        function checkLoaded(name) {
            const interval = 100;
            window.setTimeout(function() {
                if (window[name]) {
                    window[name]();
                } else {
                    checkLoaded(name);
                }
            }, interval);
        }
        
        checkLoaded('mapLoad')
        