html(lang="en")
    head
        include head
        title Biodivergent Sites and Sounds: map
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.77/Tone.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js")
        //- script(src="./map/main.js" defer)
        
    body(style='background-color: #fff!important;')
        main
        //- #backdrop
        //- include map/map2.html
        object#map2.svg-import.map__layer(data="svg/map2a.svg" type="image/svg+xml")
        object#map.svg-import.map__layer(data="svg/map2.svg" type="image/svg+xml")
        canvas#overlay

    include checkLoaded

    script(type="module").
        //- checkLoaded('mapLoad')
        Tone.start();
        document.querySelectorAll('#water_halo path').forEach((x,i)=>{
            x.classList.add('visual');
            x.id = `water_halo_${i}`;
        })