html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Biodivergent Sites and Sounds
        link(rel='stylesheet', href='style.css')
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet">

    body
        h1 QR Code test page
        img(src="bg1.svg", alt="background")
        .bar
            button.button TEST
            button.button TEST2
           
        main.main__qr()
            include svg/qr1.svg