html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Biodivergent Sites and Sounds
        link(rel='stylesheet', href='style.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet")
        style.
            #main__title{
                //- width:100px;
            }
            .qr__container{
                width:100%; 
                margin:none; 
                //- background-color:#004080;
                background-color:rgba(0,64,128,0.8);
            }
    body
        main.splash.qr__container(style="min-height:300px; width:100%; margin:none;")
            //- h1 QR code tests
            .bar.qr__container                
                include svg/qr1.svg
                include svg/qr1.svg
                include svg/qr1.svg
                
        footer
            include footer  
        script.
            // temporary code for testing
            document.querySelectorAll('.qr__svg').forEach((x,i)=>{
                if(i==0){
                    x.addEventListener('click',(e)=>{
                        window.location.href = 'index.html';
                    })
                    //- x.classList.add('elements__ripples')
                }
                if(i==1){
                    x.addEventListener('click',(e)=>{
                        window.location.href = 'elements/ripples';
                    })
                    x.classList.add('elements__ripples')
                }
                if(i==2){
                    x.addEventListener('click',(e)=>{
                        window.location.href = 'elements/painting';
                    })
                    x.classList.add('elements__painting')
                }
            })

            document.querySelectorAll('.QR__home__main').forEach((qr, i)=>{
                window.setInterval(()=>{
                qr.querySelectorAll('rect:not(.anchor)').forEach((x,i)=>{
                    x.setAttribute('rx', `${Math.abs(Math.sin(i)*2)}px`);
                    x.setAttribute('rx', `${Math.abs(Math.cos(i)*30)}px`);
                    
                    let number = Math.sin(i)*255;

                    if (number < 0) {
                        number = 0;
                    }

                    if (number >200){
                        number = 200;
                    }

                    x.style.fill=`rgba(${number},255,255,1)`;
                    x.style.opacity = Math.abs(Math.cos(i))+0.5;
                    x.style.stroke = 'black';
                    //- x.style.strokeWidth = '2px';
                })
                }, (i * 1000) + 1000)
            })
              
            // 
            // Rectangles to keep
            // [[75, 75], [87, 75], [100, 75]]
            // [[75, 87], [87, 87], [100, 87]]
            // [[75, 100], [87, 100], [100, 100]]