html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Biodivergent Sites and Sounds
        link(rel='stylesheet', href='style.css')
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet">

    body
        h1 QR Code test page
       
        .bar
            button.button TEST
            button.button TEST2
           
        main.main__qr()
            include svg/qr1.svg
            include svg/qr1.svg
            include svg/qr1.svg
        script.
            document.querySelectorAll('.qr__svg').forEach((x,i)=>{
                if(i==1)x.classList.add('elements__ripples');
                if(i==2)x.classList.add('elements__painting');
            })
            window.setInterval(()=>{
                document.querySelectorAll('.QR__home__main rect').forEach((x,i)=>{
                    <!-- x.setAttribute('rx', `${Math.abs(Math.sin(i)*2)}px`) -->
                    <!-- x.setAttribute('rx', `${Math.abs(Math.cos(i)*30)}px`) -->
                    let number = Math.sin(i)*255;
                    if (number < 0) {
                        number = 0;
                    }
                    if (number >200){
                        number = 200;
                    }
                    x.style.fill=`rgba(${number},255,255,255)`;
                    x.style.opacity = Math.abs(Math.cos(i))+0.5;
                    x.style.stroke = 'black';
                    x.style.strokeWidth = '2px';
                })
                }, 1000)
                
            // 
            //- Math.round()
            //- [[75, 75], [87, 75], [100, 75]]
            // [[75, 87], [87, 87], [100, 87]]
            // [[75, 100], [87, 100], [100, 100]]