html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BSS: Soundscape
        link(rel='stylesheet', href='style.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet")
        script(src="./main.js" defer)
        script(src="./nav.js" defer)
        script(src="https://w.soundcloud.com/player/api.js")
        script(src="./trail.js" defer)
            
    body.about
        //- button.allowDefault(onclick="window.location.href = 'index.html'")
        object#main__title.about.nav__back(type="image/svg+xml" data="svg/bss_title_small.svg" role="banner")
        #duration.textBlock.infoText
        main.textBlock.infoText
            div.textColumn
                p For those of you who are able, we invite you to journey along the canal towpath and listen to this soundscape, created by Elinor Rowlands in collaboration with Biodivergent Sites & Sounds artists, partners and participants.

                p This soundscape is designed to be listened to as you walk or roll between the Grand Union Community Hub (the venue for our launch event in November 2023) and Acton Lane Bridge (Harlesden).
                
                p The soundscape lasts 53 minutes. Press play on the SoundCloud player below to begin listening.
                //- iframe(width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1638593142&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true")
                //- div(style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;")
                //-     a(href="https://soundcloud.com/elinor-clare-rowlands" title="Elinor Clare Rowlands" target="_blank" style="color: #cccccc; text-decoration: none;") Elinor Clare Rowlands
                //-     |  · 
                //-     a(href="https://soundcloud.com/elinor-clare-rowlands/song-of-canal" title="Harlesden's Canal" target="_blank" style="color: #cccccc; text-decoration: none;") Harlesden's Canal
                //- <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1638593142&color=%23ff5500&inverse=false&auto_play=false&show_user=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/elinor-clare-rowlands" title="Elinor Clare Rowlands" target="_blank" style="color: #cccccc; text-decoration: none;">Elinor Clare Rowlands</a> · <a href="https://soundcloud.com/elinor-clare-rowlands/song-of-canal" title="Harlesden&#x27;s Canal" target="_blank" style="color: #cccccc; text-decoration: none;">Harlesden&#x27;s Canal</a></div>
                <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1666408353&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/elinor-clare-rowlands" title="Elinor Clare Rowlands" target="_blank" style="color: #cccccc; text-decoration: none;">Elinor Clare Rowlands</a> · <a href="https://soundcloud.com/elinor-clare-rowlands/song-of-the-canal" title="Song Of the Canal" target="_blank" style="color: #cccccc; text-decoration: none;">Song Of the Canal</a></div>
                object#map.map.map__trail.svg-import(data='svg/map_trail.svg' type='image/svg+xml' style="margin-bottom:250px; width:100%; left:0; right:0; margin:auto;")
            //- .map__block.textBlock
        footer
            include footer  
        script.
            //- if(window.touch) touch.unlisten();
            
            document.querySelectorAll('.nav__back').forEach((el)=>{
                el.addEventListener('click', ()=>{
                    window.location.href="index.html";
                })
            })
           
            