html(lang="en")
    head
        title BSS: text
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='../../style.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="./style_text.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.77/Tone.js")
        link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet")
        script(src="../../main.js" defer)
        script(src="./text.js" defer type="module")
          

    body
        include ../../loading
        section.instructions
            p This element features text that has been broken up and scattered in the water.
            p Drag and tap around the words on-screen to play different parts of the text.
            button.button.start#nav__start Start
    include ../../checkLoaded
    script.
        checkLoaded('addBackButton');
    
    