html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BSS: mix
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.77/Tone.js")
        link(rel='stylesheet', href='../../style.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet")
        script(src="../../main.js" defer)
        script(src="./text.js" defer)
        style.
            button{
                font-size: 2rem;
            }
            .mute{
                width:2rem;
                height:2rem;
                margin:2rem;
            }
            .text{
                border-radius:10px;
                font-weight:bold;
                text-align:center;
                opacity:0.8;
                letter-spacing:0.1px;
                transition:all 1s, left 35.5s ease-in-out, top 34.5s ease-in-out, opacity 0.5s ease-in-out;
                mix-blend-mode:soft-light;
            }
            .text.active{
                opacity:1;
                letter-spacing:0.2px;
            }
            body {
                background-color:navy;
                transition: filter 1s;
                overflow:hidden;
                touch-action:none;
                user-select:none;
                -webkit-user-select: none; /* Safari */
                background-image:url("../../bg1.svg");
                background-size:cover;
                background-repeat:no-repeat;
                background-position:center;
                height:100vh;
                width:100vw;
                filter: hue-rotate(0deg);
            }
    body