html(lang="en")
    head
        title BSS: Water's Edge
        include ../../analytics
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet")
        link(rel='stylesheet', href='../../style.css')
        
        script.
            // temporary script to ensure files are loaded in the correct order -- see assignStartButton.js
            window.filesToLoad = ['./waters_excerpt.mp3', './backdrop.mp3'];
            
        script(src="../../main.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js")
        script(src="https://www.curtainsjs.com/build/curtains.min.js")
        script(src="./text_d3_main.js" type="module" defer )
        script(src="../js/script_text.js", type="module", defer)
        script(src="../ripples/interact.js", defer)
        script(src="../ripples/touch.js", defer)
        script(src="../ripples/samples_text.js", defer)
        
    body
        img(src="reflection_edge.png" style="z-index:9999;display:block;position:absolute;top:0; left:0;width:0px;height:0px;opacity:0;" aria-role="presentation")
        main.fullpage.ripples
            .words.fullpage
                #canvas.ripples.text
                #content.ripples
                    #water-ripples
                        #water-ripples-title(style='display:none;')
                            h1.ripples
                        img(src="reflection_edge.png" style="filter:brightness(40%)" alt="water" crossorigin="" data-sampler="planeTexture")
        
        section.instructions.flex.scrollable
            .instructions__header
                h1.instructions - 2 - 
            .instructions__number
                h1.instructions Water's edge
            .instructions__text
                :markdown-it
                    Where is the edge of the water? 
                    
                    Is it at the piling, the canal's watertight wall? 
                    
                    At the skyline? 
                    
                    Splashed along the oar? 
                    
                    During the mooring of a boat? 
                    
                    Does it exist in the reflection on the skin of the water?
                button.button.startElement.allowDefault#nav__start.waiting Loading 
            .instructions__interactions
                h2.instructions__heading Interactions
                .break
                ul
                    include ../interactions/single_click
                    include ../interactions/explore
                    include ../interactions/drag_words
                    include ../interactions/touch_hold
                    include ../interactions/multitouch
                .break
                h2.instructions__heading Changes
                .break
                ul
                    include ../interactions/sound
                    include ../interactions/colour
                    include ../interactions/movement
                                
            include ../footer__back
    include ../../consent_info