html(lang="en")
    head
        title BSS: where is the water's edge?
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet")
        link(rel='stylesheet', href='../../style.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        script(src="../../main.js" defer)
        script(src="./text.js" defer type="module")
    body.words
        
        section.instructions.flex.scrollable
            .instructions__header
                h1.instructions - 2 - 
            .instructions_number 
                h1.instructions Water's Edge
            .instructions__text
                p Where is the water's edge? 
                p Is it at the piling, the canal's watertight wall? 
                p At the skyline? 
                p Splashed along the oar? During the mooring of a boat? 
                p Does it exist in the reflection on the skin of the water?
                button.button.startElement.allowDefault#nav__start Start 
            .instructions__interactions
                h2.instructions__heading Interactions
                .break
                ul
                    include ../interactions/single_click
                    include ../interactions/explore
                    include ../interactions/drag_words
                    include ../interactions/touch_hold
                    include ../interactions/multitouch
                .break
                h2.instructions__heading Changes
                .break
                ul
                    include ../interactions/sound
                    include ../interactions/colour
                    include ../interactions/movement
                                
            include ../footer__back