/* ⚝ Colours 🎨 */

$background--hc: black;
$background: darkblue;
$background2: navy;
$background-text:hsl(233.26,50.28%,65.29%);
$outline: white;
$wash:aqua;
$text:lightgray;
$link:#ccc;
$link--visited:#bbb;
$number:#9EC1CF;
$number--hc: white;
$shadow: rgba(0,0,0,0.75);