doctype html
html(lang="en")
  head
    title BSS: Rusty Can
    include ../../analytics
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../../style.css")
    link(rel="stylesheet", href="./style.css")
    link(rel="stylesheet", href="./style_circles.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js")
    script(src="https://www.curtainsjs.com/build/curtains.min.js")
    
    script.
      // temporary script to ensure files are loaded in the correct order -- see assignStartButton.js
      window.filesToLoad = ['../../loops/rusty_can_0.mp3', '../../loops/rusty_can_1.mp3', '../../loops/rusty_can_2.mp3', './can.mp3'];
        
    script(src="../../main.js", defer)
    script(type="module", src="../js/init_circle.js", defer)
    script(src="./touch.js", defer)
    script(src="./can.js", defer)
    script(src="./ensurePathId.js", defer)
    
    style.
      body{
          overflow:hidden;
          transition:all 1s ease;
          height:100vh;
          width:100vw;
      }
      
      main{
        transition:all 1s ease;
      }
      
      canvas{
        -webkit-user-select: none; 
        user-select:none;
      }
      
      #water-ripples-title{
        display:none;
      }
      
      #painting,#centeredCircle,.canBG{
        -webkit-user-select: none; 
        user-select:none;
        width:100%; 
        position:absolute;
        margin:0;
        display:block;
        transform-origin:center;
        z-index:100;
        @media (max-width: 600px) {
          width:100%; 
          height:100%;
          top:0;
          transform-origin:center;
        }
      }
      
      .canBG{
          opacity:0.5;
          width:60vh;
          height:60vh;
          top:0px;
          left:0px;
          bottom:0px;
          right:0px;
          margin:auto;
          transition:all 1.5s ease;
          @media(min-width:600px){
            width:100vh;
            height:100vh;
          }
        }
        
        #can__bg{
          transition:all 1s ease;
        }
        
        #canvas{
          filter:brightness(80%)
        }
        
        .water__meter{
          opacity:0.4;
        }

  body
    main
      #canvas.rusty_can
      #content
        #water-ripples
          #water-ripples-title
            h1#h1(style="user-select:none;pointer-events:none;")
          svg#centeredCircle(width="100%", height="100%", viewBox="0 0 100 100")
            circle.water__meter#waterCircle(cx="50", cy="50", r="40", stroke="none", stroke-width="4", fill="darkblue")
            circle.water__meter#echoCircle(cx="50", cy="50", r="40", stroke="none", stroke-width="4", fill="darkblue")
            circle.water__meter#echoCircle2(cx="50", cy="50", r="40", stroke="none", stroke-width="4", fill="darkblue")
          img#source__water(src="water_frame_0.png", alt="water", crossorigin="", data-sampler="planeTexture")
      #can__bg.canBG.svg-import(data="can/can_bg_900.svg", alt="algae")
      object.canBG.svg-import#can__0__guide(type="image/svg+xml", data="can__0__guide.svg")
      object.canBG.svg-import#can__1__guide(type="image/svg+xml", data="can__1__guide.svg")
      img#can__0__ghost.canBG.ghost(src="can/can_0.png", alt="can")
      img#can__1__ghost.canBG.ghost(src="can/can_1.png", alt="can")
      img#can__0.canBG(src="can/can_0.png", alt="can")
      img#can__1.canBG(src="can/can_1.png", alt="can")
    section#instructions.instructions.instructions.flex.scrollable
      .instructions__header
        h1 - 5 -
      .instructions__number
        h1 Rusty Can
      .instructions__text
        p We know what rust looks and feels like,
        p but what does it sound like 
        p when trapped in the reeds along the canal?
        | Hoary<br>
        | Chromatic<br>
        | Corroded<br>
        | Creaky<br>
        | Rickety<br>
        | Rickety<br>
        | Ratty<br>
        | Junky<br>
        | Grungy<br>
        | Spiky<br>..
        button.button.startElement.allowDefault#nav__start.waiting Loading
      .instructions__interactions
        h2.instructions__heading Interactions
        .break
        ul
          include ../interactions/single_click
          include ../interactions/explore
          include ../interactions/multitouch
        .break
        h2.instructions__heading Changes
        .break
        ul
          include ../interactions/sound
          include ../interactions/colour
          include ../interactions/movement
      include ../footer__back
    include ../../consent_info