doctype html
html(lang="en")
  head
    title BSS: Rusty Can
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../../style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js")
    script(src="https://www.curtainsjs.com/build/curtains.min.js")
    script(type="module", src="../js/init_circle.js", defer)
    script(src="../../main.js", defer)
    script(src="./ensurePathId.js", defer)
    script(src="./touch.js", defer)
    script(src="./can.js", defer)

  body
    main
      #canvas.rusty_can
      #content
        #water-ripples
          #water-ripples-title
            h1#h1(style="user-select:none;pointer-events:none;")
          svg#centeredCircle(width="100%", height="100%", viewBox="0 0 100 100")
            circle.water__meter#waterCircle(cx="50", cy="50", r="40", stroke="none", stroke-width="4", fill="darkblue")
            circle.water__meter#echoCircle(cx="50", cy="50", r="40", stroke="none", stroke-width="4", fill="darkblue")
            circle.water__meter#echoCircle2(cx="50", cy="50", r="40", stroke="none", stroke-width="4", fill="darkblue")
          img#source__water(src="water_frame_0.png", alt="water", crossorigin="", data-sampler="planeTexture")
    #can__bg.canBG.svg-import(data="can/can_bg_900.svg", alt="algae")
    object.canBG.svg-import#can__0__guide(type="image/svg+xml", data="can__0__guide.svg")
    object.canBG.svg-import#can__1__guide(type="image/svg+xml", data="can__1__guide.svg")
    img#can__0__ghost.canBG.ghost(src="can/can_0.png", alt="can")
    img#can__1__ghost.canBG.ghost(src="can/can_1.png", alt="can")
    img#can__0.canBG(src="can/can_0.png", alt="can")
    img#can__1.canBG(src="can/can_1.png", alt="can")
    section#instructions.instructions.instructions.flex.scrollable
      .instructions__number
        h1 - 5 -
      .instructions__header
        h1 Rusty Can
      .instructions__text
        p We know what rust looks and feels like,
        p but what does it sound like when trapped in the reeds along the canal?
        | Hoary<br>
        | Chromatic,<br>
        | Corroded<br>
        | Creaky<br>
        | Rickety<br>
        | Rickety<br>
        | Ratty<br>
        | Junky<br>
        | Grungy<br>
        | Spiky...
        button.button.startElement.allowDefault#nav__start Start
      .instructions__interactions
        h2.instructions__heading Interactions
        .break
        ul
          include ../interactions/single_click
          include ../interactions/explore
          include ../interactions/multitouch
        .break
        h2.instructions__heading Changes
        .break
        ul
          include ../interactions/sound
          include ../interactions/colour
          include ../interactions/movement
      include ../footer__back