/* âš Footer */

@mixin aspect-ratio-fix($width, $height) {
    position: relative;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: calc($height / $width) * 100%;
    }
    > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

.footer__text {
    font-size: 2rem;
    color: $text;
    text-align: left;
    margin-top: 2em;
    margin-left:100px;
    vertical-align:middle;
    margin-top: 2em;
    margin-left:100px;
}

.footer__logos {
    font-size: 2rem;
    color: $text;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin:none;
    top:0;
    bottom:0;
}

.footer__content{
    text-align: center;
    vertical-align: middle;
    margin:none!important;
    max-height:250px;
    bottom:0px;
    overflow:hidden;
}

footer {
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    max-height: 250px;
    background-color:$background;
    margin:none!important;
    
    // overflow:hidden;
}

footer.instructions {
    background-image: url('svg/wave1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    // background-color:$background2;
    position:relative;
    bottom:0;
    left:0;
    overflow:hidden;
    max-height: 250px;
    background-color:$background;
    margin:none!important;
    min-height: none;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.logo-fit{
    width:20%;
    margin:2.5%;
    
    aspect-ratio: 3/2;
    object-fit:contain;
    
    img {
        width:100%;
        height:100%;
        object-fit:contain;
    }
}

@supports not (aspect-ratio:3/2) {
    .logo-fit{
        @include aspect-ratio-fix(3,2);    
    }
}

.link__fix{
    // position:absolute; 
    // top:0;
    width:0;
    height:0;
}