.footer__text {
    font-size: 2rem;
    color: $text;
    text-align: left;
    margin-top: 2em;
    margin-left:100px;
    vertical-align:middle;
    margin-top: 2em;
    margin-left:100px;
}

.footer__logos {
    font-size: 2rem;
    color: $text;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin:none;
    top:0;
    bottom:0;
}

footer {
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    max-height: 250px;
    background-color:$background;
    margin:none;
}