.front__water {
    opacity: 0.6;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform-origin: center center;
    transform: scale(4);
    margin: none;
    z-index: -1;
    transition:transform 160s ease-in-out;
    @media screen and (max-width: 850px) {
        // transform: scale(6);
        // animation: scale2 60s ease-in-out infinite alternate;
    }
}

.front__water.alt{
    transform: scale(6);
    opacity:0.5;
    animation: scale2 161s ease-in-out infinite alternate;
}

.front__water.alt2{
    transform: scale(7);
    opacity:0.3;
    animation: scale2 121s ease-in-out infinite alternate;
}


#main__title {
    opacity: 0.8;
    width: 90vw;
    max-width: 800px;
    height: 40vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 300;
    margin: auto;
}