/* ⚝ Instructions */

section.instructions{
    background-color:$background2;
    display:block;
    height:100vh;
    width:100vw;
    margin:none;
    padding-top: 20vh;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    text-align:center;
    z-index: 2000;
}

section.instructions.grid {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.instructions__text{
    flex-grow: 1;
}

section.instructions.flex {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.scrollable{
    overflow:auto;
    // overflow-y:scroll;
    // overflow-x:hidden;
    // -webkit-overflow-scrolling: touch;
    // flex-grow: 1;
    padding: 1em;
}

.nodisplay{
    display:none;
}