/* ⚝ Instructions */

*{
    // outline:solid green;
}

section.instructions{
    background-image: url('svg/wave1.svg');
    background-repeat: no-repeat;
    // background-size: 100vw 200px;
    background-color:$background2;
    
    display:block;
    min-height:100vh;
    width:100vw;
    margin:none;
    padding-top: 200px;
    top:0;
    left:0;
    bottom:0;
    // right:0;
    // bottom:0;
    position:absolute;
    text-align:center;
    
    z-index: 2000;
}

section.instructions.grid {
    // min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.instructions__text, .instructions__header{
    flex-grow: 1;
}

.instructions__header{
    text-align:center!important;
    padding-top: 20em;
}

.instructions__number{
    text-align:center!important;
}

.instructions__button{
    text-align:center;
}

.instructions__text{
    // background-color: $background;
    padding: 1em;
    max-width: 800px;
    // text-align: left;
    text-align:left;
    // line-height: 1em;
}

section.instructions.flex {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    &.nodisplay{
        display:none;
    }
}

.scrollable{
    overflow-y:auto;
    // overflow-y:scroll;
    overflow-x:hidden;
    // -webkit-overflow-scrolling: touch;
    // flex-grow: 1;
    // padding: 1em;
}

.nodisplay{
    display:none;
}

.instructions__interactions{
    background-image: url('svg/wave2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color:$background;
    background-color:$background;
    display:flex;
    flex-wrap:wrap;
    align-items:first baseline;
    margin:none;
    width:100vw;
    max-width:100%;
    justify-content: left;
    
    ul {
        width:100%;
        max-width:800px;
        margin-left:0;
        margin-right:0;
    }
    
    li {
        display:inline-flex;
        margin: 0 0em;
        list-style: none; 
        width:400px;
        max-width:90vw;
        text-align: left;
        justify-content: flex-start;
        align-items: center;
        vertical-align:middle;
        font-size:1.1rem;
        
        span {
            max-width:200px;
            // width:230px;
            // background-color:red;
        }
    }
}

h2.instructions__heading{
    padding-left: 1em;
}

.inline{
    position:relative!important;
}