@charset "UTF-8";
/* ⚝ Biodivergent Sites and Sounds */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Gothic+A1&family=Kanit:wght@100;200&family=Nunito:wght@200&family=Roboto:wght@700&family=Rubik:wght@900&display=swap");
/* ⚝ Colours 🎨 */
/* ⚝ Animations */
@keyframes opacity {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes scale {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(5);
  }
}
@keyframes scale2 {
  0% {
    transform: scale(6);
  }
  100% {
    transform: scale(8);
  }
}
/* ⚝ Body */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  background-color: darkblue;
  font-family: Nunito;
  font-weight: 100;
  color: lightgray;
  transition: filter 1s;
  -webkit-touch-callout: none !important;
}

body.full {
  overflow: hidden;
}

canvas {
  -webkit-user-select: none;
  user-select: none;
}

canvas#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
  z-index: 100;
  touch-action: none;
  pointer-events: none;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

svg {
  -webkit-user-select: none;
  user-select: none;
}

/* ⚝ Typography */
.link {
  font-size: 3rem;
  text-underline-offset: 0.4em;
}

li {
  margin-bottom: 1em;
}

/* ⚝ Sponsor logos */
.logo {
  padding: 10px;
}
@media screen and (max-width: 800px) {
  .logo {
    padding: none;
  }
}

#logo__canal {
  height: 80px;
}
@media screen and (max-width: 600px) {
  #logo__canal {
    height: 50px;
  }
}

#logo__coles {
  height: 75px;
}
@media screen and (max-width: 600px) {
  #logo__coles {
    height: 45px;
  }
}

#logo__chc {
  height: 80px;
}
@media screen and (max-width: 600px) {
  #logo__chc {
    height: 50px;
  }
}

#logo__ace {
  height: 90px;
}
@media screen and (max-width: 600px) {
  #logo__ace {
    height: 60px;
  }
}

/* ⚝ Icons */
.icon {
  width: 100px;
  height: 100px;
  max-height: 10vh;
  display: inline-block;
}
@media screen and (orientation: landscape) {
  .icon {
    max-height: 10vw;
  }
}

.nav__icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2vh;
  max-height: 10vh;
  align-content: center;
}
@media screen and (orientation: landscape) {
  .nav__icon {
    /* max-height:10vw; */
    margin: 5vh;
  }
}

.icon__info {
  transition: opacity 0.5s ease-in-out;
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (orientation: landscape) {
  .icon__info {
    transform: translate(0px, -50px);
  }
}

.icon__info:hover {
  opacity: 1;
}

/* ⚝ Buttons */
.button {
  background-color: transparent;
  background: transparent;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  display: inline-block;
  font-family: "Nunito";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 1em;
  list-style: none;
  padding-bottom: 1em;
  padding-left: 1.44em;
  padding-right: 1.24em;
  padding-top: 1em;
  text-align: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  transition: background-color 170ms ease-in-out, border-color 170ms ease-in-out;
  max-width: 500px;
  margin: 2em;
}
.button#nav__start {
  font-size: 2rem;
}

.button:hover {
  background-color: white;
  border-color: transparent;
  color: darkblue;
  cursor: pointer;
}

#main__title.about {
  display: inline-block;
  position: static;
  width: 800px;
  max-width: 90vw;
}

/* ⚝ Footer */
.footer__text {
  font-size: 2rem;
  color: lightgray;
  text-align: left;
  margin-top: 2em;
  margin-left: 100px;
  vertical-align: middle;
  margin-top: 2em;
  margin-left: 100px;
}

.footer__logos {
  font-size: 2rem;
  color: lightgray;
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin: none;
  top: 0;
  bottom: 0;
}

.footer__content {
  text-align: center;
  vertical-align: middle;
  margin: none !important;
  max-height: 250px;
  bottom: 0px;
  overflow: hidden;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  max-height: 250px;
  background-color: darkblue;
  margin: none !important;
  overflow: hidden;
}

footer.instructions {
  background-image: url("svg/wave1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: auto;
  bottom: auto;
  left: auto;
  overflow: hidden;
  max-height: 250px;
  background-color: darkblue;
  margin: none !important;
  box-sizing: border-box;
  min-height: none;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

.logo-fit {
  width: 20%;
  margin: 2.5%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.logo-fit img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@supports not (aspect-ratio: 3/2) {
  .logo-fit {
    position: relative;
  }
  .logo-fit:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.6666666667%;
  }
  .logo-fit > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.link__fix {
  width: 0;
  height: 0;
}

/* ⚝ Front page */
#main__title {
  display: block;
  opacity: 0.8;
  margin: auto;
}

.front__water {
  opacity: 0.1;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform-origin: center center;
  transform: scale(4);
  margin: none;
  z-index: -1;
  transition: transform 160s ease-in-out;
}
.front__water.alt {
  transform: scale(1);
  opacity: 0.2;
  animation: scale2 161s ease-in-out infinite alternate;
}

.front__water.alt2 {
  transform: scale(7);
  opacity: 0.3;
  animation: scale2 121s ease-in-out infinite alternate;
}

.infoText {
  max-width: 800px;
  width: 800px;
  max-width: 90vw;
  margin: 0 auto !important;
  background-color: white !important;
  color: navy;
  text-wrap: balance;
  text-align: left;
}

/* ⚝ Instructions */
.break {
  flex-basis: 100%;
  height: 0;
}

section.instructions {
  background-image: url("svg/wave1.svg");
  background-repeat: no-repeat;
  background-color: navy;
  display: block;
  min-height: 100vh;
  width: 100vw;
  margin: none;
  padding-top: 500px;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  z-index: 2000;
}
section.instructions .instructions__text {
  width: 800px;
  max-width: 90vw;
}

section.instructions.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.instructions__text, .instructions__header {
  flex-grow: 1;
}

.instructions__header {
  text-align: center !important;
  padding-top: 20em;
}

.instructions__number {
  text-align: center !important;
}

.instructions__button {
  text-align: center;
}

.startElement {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.instructions__text {
  padding: 1em;
  max-width: 800px;
  text-align: left;
}

section.instructions.flex {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.instructions.flex.nodisplay {
  display: none;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}

.nodisplay {
  display: none;
}

.instructions__interactions {
  background-image: url("svg/wave2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkblue;
  background-color: darkblue;
  display: flex;
  flex-wrap: wrap;
  align-items: first baseline;
  margin: none;
  width: 100vw;
  max-width: 100%;
  justify-content: left;
}
.instructions__interactions ul {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  flex-basis: 100%;
  padding-inline-start: 0;
}
.instructions__interactions li {
  border-radius: 10px;
  border: 0.5px solid white;
  display: inline-flex;
  margin: auto;
  left: 0;
  right: 0;
  list-style: none;
  width: 300px;
  max-width: 90vw;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Arial;
  margin: 1em;
}
.instructions__interactions li .instructions__icon {
  padding-left: 1em;
}
.instructions__interactions li span {
  padding-left: 0.5em;
  max-width: 200px;
}

.instructions__heading {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  flex-basis: 100%;
}

.inline {
  position: relative !important;
}

/* ⚝ Loading */
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: navy;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  transition: opacity 1s;
  padding: none;
  margin: none;
  transition: all 5s;
  z-index: 1000;
}

.loadMsg {
  transition: all 5s;
}

/* ⚝ Elements: Ripples */
#painting.ripples {
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  position: absolute;
  margin: 0;
  display: block;
  transform-origin: center;
}
@media (max-width: 600px) {
  #painting.ripples {
    width: 100%;
    height: 100%;
    top: 0;
    transform-origin: center;
  }
}

#water-ripples-title {
  display: none;
}

/* layout from external demo: curtains, etc. */
html, body {
  min-height: 100%;
}

#note_1 {
  transition: all 1s !important;
}

/*** layout ***/
/*** canvas ***/
#canvas.ripples {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
  width: 100vw;
  overflow: none;
  transition: filter 0.5s;
}

main.ripples {
  transition: filter 0.6s;
}

/*** content ***/
.dg.ac {
  z-index: 3 !important;
}

#content.ripples {
  position: relative;
  z-index: 2;
  touch-action: none; /* disable pull to refresh on mobile */
}

#water-ripples {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#water-ripples-title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#water-ripples-title h1 {
  color: white;
  font-size: 8.5vw;
  margin: 0;
  opacity: 0;
}

#water-ripples img {
  display: none;
}

#curtainsjs-ad {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 0.75em;
  color: white;
  z-index: 3;
  font-family: "Arial", sans-serif;
}

#curtainsjs-ad a {
  color: inherit;
}

/*** handling errors ***/
.no-curtains #water-ripples {
  display: flex;
  overflow: hidden;
}

.no-curtains #water-ripples img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.no-curtains #water-ripples-title h1 {
  opacity: 1;
}

h1.ripples {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

body.heart {
  overflow: hidden;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

svg.heart {
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 1s ease-in-out;
  display: block;
  height: 100vh;
  width: 100vw;
  cursor: pointer;
  transform: scale(3) translate(0, 800);
  opacity: 1;
}

svg.heart.on {
  transition: opacity 0s;
  opacity: 0.5;
}

svg.heart g {
  transform-origin: center center;
  transition: all 1s;
}

#painting.heart {
  transform-origin: center center;
  transition: all 1s;
}

.body__background.mix, main.mix {
  border: none;
}

.main__qr.mix {
  background: none;
}

.main__qr.mix, .bar.mix {
  border: none !important;
}

image.mix {
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}

#start.mix {
  position: absolute;
  bottom: 20px;
}

#start.mix.square {
  position: absolute;
  bottom: 20px;
  height: 100px;
  width: 100px;
  border: none;
}
#start.mix.square:hover {
  cursor: pointer;
  background: none;
}

.bar.mix.xf {
  width: 100%;
  display: none;
}

input.mix {
  opacity: 0;
}

circle.mix.display1 {
  transition: r 0.1s ease-in-out, x 0.1s ease-in-out, y 0.1s ease-in-out, fill 1s;
  opacity: 0.3;
}

circle.mix.display2 {
  transition: r 0.1s ease-in-out, fill 1s;
  opacity: 0.3;
}

.start__icon {
  width: 100%;
  height: 100%;
  transform-origin: center center;
  transform: scale(10);
  display: inline-block;
}

body.words {
  background-color: navy;
  transition: filter 1s;
  overflow: hidden;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
  background-image: url("bg1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  filter: hue-rotate(0deg);
}

.wordContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.words.transparent {
  opacity: 0;
}
.words.text {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  text-anchor: middle;
  opacity: 0.8;
  letter-spacing: 0.1px;
  transition: all 1s, left 18.5s ease-in-out, top 16.5s ease-in-out, opacity 0.5s ease-in-out;
  text-shadow: 0px 0px 10px rgb(0, 0, 128);
  mix-blend-mode: soft-light;
  white-space: nowrap;
  background-color: transparent;
  padding: 1.5rem;
  -webkit-mask-image: radial-gradient(circle at 50% 50%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  mask-image: radial-gradient(circle at 50% 50%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  font-size: 2rem;
}
.words.text.active {
  opacity: 1;
  letter-spacing: 0.2px;
}
.words.text.d3 {
  transition: opacity 0.5s ease-in-out;
  height: 3em;
}
.words.text#text_0 {
  font-size: 4rem;
}
.words.moving {
  position: absolute;
  display: block;
  transition: all 0s;
  color: white;
  z-index: 40000;
}

/* ⚝ QR codes */
.qr__number {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  opacity: 1;
  align-self: center;
}

.qr__number.high-contrast {
  color: black;
  background-color: white;
  mix-blend-mode: normal;
}

.qr__text {
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 0.08em;
  margin: 0;
  padding: 0;
  opacity: 1;
  align-self: center;
  color: #9EC1CF;
  paint-order: stroke;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  stroke: navy;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 1px 1px 0px #000;
}

.qr__container {
  background-image: url("bg1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.qr__card {
  font-family: Crimson Text;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  height: 250px;
  width: 200px;
  background-image: url("bg1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid darkblue;
  padding: 1em;
  transition: all 0.1s ease-in-out;
}

.qr__card:hover {
  transform: translate(0px, 3px);
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  border: 2px solid #9EC1CF;
}

.qr__svg {
  display: block;
  height: 140px;
  width: 140px;
  margin: none;
  padding: none;
  transition: all 0.1s ease-in-out;
  align-self: center;
}

.qr__card:active {
  transform: translate(0px, 3px);
  cursor: pointer;
}

.qr__card.elements__ripples {
  background-image: url("svg/element_ripples.svg");
}

.qr__card.elements__school {
  background-image: url("svg/element_painting.svg");
}

.qr__card.elements__mix {
  background-image: url("svg/element_mix.svg");
}

.qr__card.elements__bridge {
  background-image: url("svg/element_bridge.svg");
}

.qr__card.elements__text {
  background-image: url("svg/element_text.svg");
}

.qr__card.elements__rusty_can {
  background-image: url("svg/element_circle.svg");
}

.main__qr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  margin: 2em;
  flex-grow: 1;
  background-color: navy;
}

main.qr__container {
  background-color: navy;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2em;
  justify-items: center;
  align-items: center;
  margin: 2em;
}

/* ⚝ Map */
.map__layer {
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}

.map__main {
  border-radius: 0.4rem;
  max-width: 90vw !important;
}

#backdrop {
  -webkit-user-select: none;
  user-select: none;
  filter: brightness(70%) grayscale(0%) hue-rotate(0deg);
  touch-action: none;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  transition: filter 1s;
  background-color: navy;
  background-image: url("svg/element_painting.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#backdrop.interacting {
  filter: brightness(80%) grayscale(100%) hue-rotate(0deg);
}

#map2 {
  opacity: 0.9;
}

.water__halo.halo {
  opacity: 0.3;
}

.halo {
  opacity: 0.3;
}

main.splash {
  flex-grow: 1;
  overflow: hidden;
  display: grid;
}

.wash {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  transform-origin: center center;
  background-color: aqua;
  margin: none;
}

path {
  transition: all 1s ease-in-out;
}

h1 {
  font-size: 4rem;
  font-family: Crimson Text;
}
h1.padded {
  padding: 1em;
}

p {
  font-size: 20px;
}

path {
  transition: opacity 1s ease-in-out;
}

#holder {
  max-height: 10vh;
  top: 0;
  margin: 0px !important;
  font-size: 2rem;
}

.bar {
  display: flex;
  flex-basis: 20%;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  row-gap: 1em;
  flex-wrap: wrap;
}

canvas#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  touch-action: none;
  pointer-events: none;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

button.nav__back {
  display: inline-block;
  width: auto;
  z-index: 3000;
  border: none;
}

button.nav__info {
  display: block;
  width: auto;
  z-index: 3000;
}

.nav__back {
  cursor: pointer;
}

a {
  color: #ccc;
}

a:visited {
  color: #bbb;
}

.textBlock {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 1em;
  background-color: hsl(233.26, 50.28%, 65.29%);
  font-size: 1.5rem;
  border-radius: 0.4rem;
}

.map__block.map__block {
  padding: none !important;
  margin: none !important;
}

.map__main {
  margin: none;
}

.textColumn {
  max-width: 90%;
  margin: auto;
  border-radius: 0.4rem;
}

.highlight {
  background-color: darkblue;
  padding: 1em;
  text-align: center;
}

body.fullpage {
  overflow: hidden;
  transition: all 1s ease;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}

.wordContainer {
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
}

.awaitStart {
  transition: opacity 10s ease;
}

.transparent {
  opacity: 0;
}

.title__back {
  height: 100px;
  max-width: 75vw;
  padding: none;
  cursor: pointer;
}

.title__button {
  background-color: transparent;
  max-width: 75vw;
  height: 100px;
  padding: none;
  border: none;
  border: 2px solid #666666;
  transition: background-color 170ms ease-in-out, border-color 170ms ease-in-out;
  border-radius: 10px;
  cursor: pointer;
}

.title__button:hover {
  background-color: navy;
  border-color: transparent;
  color: darkblue;
  cursor: pointer;
}

.blank {
  width: 100px;
  max-width: 15vw;
  padding: 10px;
}

.nav__info {
  cursor: pointer;
  border: none;
  width: 100px;
  max-width: 15vw;
  max-height: 100px;
  background-color: transparent;
}

.nav__info:hover {
  cursor: pointer;
}

.title__info {
  width: 100px;
  max-width: 10vw;
  height: 100px;
}

.banner__title {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  position: absolute;
  top: 0;
  margin: none;
}

/*# sourceMappingURL=style.css.map */
