body{
    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap');
    background-color:darkblue;
    font-family: Nunito;
    font-weight: 100;
    font-size: 80px;
    color: lightgray;
    overflow:hidden;
}

h1 {
    margin:100px;
    font-size:10vw;
}

@keyframes opacity{
    0%{
        opacity:0.4;
    }
    100%{
        opacity:0.8;
    }
}

@keyframes scale{
    0%{
        transform:scale(3);
    }
    100%{
        transform:scale(3.5);
    }
}

@keyframes hue{

}

#water{
    opacity:0.6;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100vh;
    transform-origin: center center;
    transform:scale(3);
    margin:none;
    z-index: -1;
    /* animation:opacity 20s ease-in-out infinite alternate;
    animation:scale 60s ease-in-out infinite alternate;
     */
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    height:30vh;
    width:100%;
    background-color:darkblue;
    margin:none;
}

/* path{
    animation:scale 60s ease-in-out infinite alternate;
} */

.footerText{
    font-size: 20px;
    color: lightgray;
    text-align: center;
    margin-top: 5vh;
    padding: 2em;
}