body.heart {
    overflow:hidden;
    touch-action:none;
    -webkit-user-select: none; 
    user-select:none;
    background-image:url("svg/element_painting.svg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:100vh;
    width:100vw;
}

svg.heart {
    transform-origin:center center;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transition: all 1s ease-in-out;
    display:block;
    height:100vh;
    width:100vw;
    cursor:pointer;
    transform:scale(3) translate(0,800);
    opacity:1;
    
}

svg.heart.on{
    transition: all 0s;
    opacity:0.5;
    
}

svg.heart g {
    transform-origin:center center;
    transition:all 1s;
}

#painting.heart {
    transform-origin:center center;
    transition: all 1s;
}