/// qr container elements

.qr__container.elements{
    margin:auto;
    background-color:rgba(0,64,128,0.2);
}

.index.elements{
    width:90%!important;
    margin:none!important;
}

main.elements{
    left:0px;
    right:0px;
    margin:auto;
}

#main__title.elements{
    display: inline-block;
    position: static;
    height:20vh!important;
}

#duration{
    display:none;
}