/// canvas rusty can

#canvas.rusty_can{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  z-index:100;
  filter:brightness(80%);
  @media (max-width: 600px) {
    width:100%; 
    height:100%;
    top:0;
    transform-origin:center;
  }
}

/// can background
.canBG{
  opacity:0.5;
  width:60vh;
  height:60vh;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  margin:auto;
  transition:all 1.5s ease;
  @media(min-width:600px){
    width:100vh;
    height:100vh;
  }
}

/// can background

#can__bg{
  transition:all 1s ease;
}

/// sound reactive element

.water__meter{
  opacity:0.4;
}