body.words {
    background-color:navy;
    transition: filter 1s;
    overflow:hidden;
    touch-action:none;
    -webkit-user-select: none; 
    user-select:none;
    background-image:url("bg1.svg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:100vh;
    width:100vw;
    filter: hue-rotate(0deg);
    transition: filter 1s;
    position:fixed;
    top:0;
    left:0;
}

.wordContainer{
    max-width: 90vw;
    max-height:90vh;
    overflow:hidden;
  }


.words {
   
    &.transparent {
        opacity:0;
    }
    
    &.text {
        font-family: Crimson-Text, serif;
        -webkit-user-select:none;
        user-select:none;
        cursor: pointer;
        border-radius:100%;
        // border: solid 0.5px rgba(255,255,255,0.5);
        // font-weight:bold;
        // height: 2em;
        font-size:2vw;
        text-align:center;
        text-anchor: middle;
        opacity:0.7;
        letter-spacing:0.1px;
        transition:all 1s, left 18.5s ease-in-out, top 16.5s ease-in-out, opacity 0.5s ease-in-out;
        text-shadow: 0px 0px 1px rgba(0,0,128,1);
        // line-height:3em;
        
        white-space: nowrap;
        
        padding:0.6em;
        -webkit-mask-image: radial-gradient(circle at 50% 50%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 120%);
        mask-image: radial-gradient(circle at 50% 50%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 120%);
        max-width:30vw;
        text-wrap: balance;
        &.active{
            opacity:1!important;
            letter-spacing:0.3px;
        }
        &.enabled{
            font-size:5vw!important;
        }
        &.d3{
            transition:opacity 0.5s ease-in-out, filter 1s, text-shadow 1s, background-color 0.5s!important;
            // height:3em;
            opacity:0.9;
        }
        &#text_0{
            font-size:3vw!important;
        }
    }
    &.moving{
        position:absolute;
        display:block;
        transition:all 0s;
        color:white;
        z-index:40000;
    }
}

canvas.text{
    opacity:0.4;
}

.text.moving{
    opacity:1;
}