.footer__text {
    font-size: 2rem;
    color: lightgray;
    text-align: left;
    margin-top: 2em;
    margin-left:100px;
    vertical-align:middle;
    margin-top: 2em;
    margin-left:100px;
    /* padding: 2em; */
    /* margin:20em; */
}

.footer__logos {
    /* height:80%; */
    font-size: 2rem;
    color: lightgray;
    /* text-align: right; */
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin:none;
    top:0;
    bottom:0;
    /* position:relative;; */

}


footer {
    position:relative;
    /* position:relative; */
    bottom:0;
    left:0;
    /* height:250px; */
    width:100%;
    max-height: 170px;
    background-color:darkblue;
    margin:none;
}