/* ⚝ Biodivergent Sites and Sounds */
// note: imports should be changed to @use where possible

// @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Gothic+A1&family=Kanit:wght@100;200&family=Nunito:wght@200&family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Gothic+A1&family=Kanit:wght@100;200&family=Nunito:wght@200&family=Roboto:wght@300;700&family=Rubik:wght@900&display=swap');

@import "abstracts/colours";

@import "animations", 
        "base/body", 
        "base/typography";

@import "components/logo", 
        "components/icons", 
        "components/button";

@import "layout/about",
        "layout/footer",
        "layout/front",
        "layout/instructions",
        "layout/loading";

@import "elements/index",
        "elements/bridge",
        "elements/ripples",
        "elements/heart",
        "elements/mix",
        "elements/words";

@import "qr", "map";

@import "mobile";

/* ⚝ Uncomment to debug */
* {
  // outline:solid green;
}

main{
  
  // padding-bottom:250px;
  color:#CCCCFF;
}

main.splash {
    flex-grow: 1;
    overflow: hidden;
    display: grid;
    // height:100%;
}

.wash {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    transform-origin: center center;
    background-color: $wash;
    margin: none;
}

path {
    transition: all 1s ease-in-out;
}

h1 {
    font-size: 4rem;
    font-family: Crimson Text;
    
    &.padded{
      padding: 1em;
    }
}

h2 {
  font-size: 2rem;
  font-family: Crimson Text;
  
  
  &.padded{
    padding: 1em;
  }
}

p {
    font-size: 19px;
    // padding: 1em;
}

path {
    transition: opacity 1s ease-in-out;
}

#holder {
    max-height: 10vh;
    top: 0;
    margin: 0px !important;
    font-size: 2rem;
}

.bar {
    display: flex;
    flex-basis: 20%;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    row-gap: 1em;
    flex-wrap: wrap;
}

canvas#overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;
    touch-action:none;
    pointer-events:none;
    overflow:hidden;
    -webkit-user-select: none;
    user-select:none;
  }

  button.nav__back{
    display:inline-block;
    width:auto;
    z-index:3000;
    border:none;
  }
  
  button.nav__info{
    display:block;
    width:auto;
    z-index:3000;
  }
  
  .nav__back{
    cursor:pointer;
  }
    
  .textBlock{
    display:inline-block;
    padding:0.5em 1em;
    margin:1em;
    font-size:1.5rem;
    border-radius:0.4rem;
    color:#CCCCFF;
    // background-color:$background-text;
    
  }
  
  
  
.map__block.map__block{
    padding:none!important;
    margin:none!important;
}

.map__main{
  margin:none;
}
  
.textColumn{
    max-width:90%;
    margin:auto;
    border-radius:0.4rem;
}

.highlight{
    background-color:$background;
    padding:1em;
    text-align:center;
}

.fullpage{
  // -webkit-pointer-events: none;
  // pointer-events:none;
  overflow:hidden;
  transition:all 1s ease;
  height:100vh;
  width:100vw;
  max-height:100vh;
  max-width:100vw;
  position:fixed;
  top:0;
  left:0;
}

.awaitStart{
  transition:opacity 10s ease;
}

.transparent{
  opacity:0;
}

.title__back{
  // max-width:300px;
  height:100px;
  max-width:75vw;
  // height:100%;
  padding:none;
  cursor: pointer;
}

.title__button{
  background-color:transparent;
  // max-width:300px;
  max-width:75vw;
  height:100px; 
  padding:none;
  border:none;
  border: 2px solid $outline-grey;
  transition: background-color 170ms ease-in-out, border-color 170ms ease-in-out;
  border-radius:10px;
  cursor: pointer;
}

.title__button:hover{
  // background-color: $background-text;
  background-color:$background2-semi;
  border-color: transparent;
  color: $background;
  cursor: pointer;
} 

.blank{
  width:100px;
  max-width: 15vw;
  padding:10px;
}

.nav__info{
  cursor:pointer;
  border:none;
  width:100px;
  // padding:10px;
  max-width: 15vw;
  // margin:auto;
  // padding:auto;
  // max-width:100px;
  max-height:100px;
  background-color:transparent;
}

.nav__info:hover{
  // background-color: $outline;
  // border-color: transparent;
  // color: $background;
  cursor: pointer;
}

.title__info{
  width:80px;
  max-width:10vw;
  height:80px;
  // margin-right:10px;
}

.banner__title{
  // background-image: url('svg/wave1.svg');
  // background-color: navy;
  transition: all 1s ease;
  background-repeat: no-repeat;
  display:flex;
  width:100vw;
  justify-content: space-between;
  position:absolute;
  top:0;
  margin:none;
}

.banner__background{
  display:block;
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:auto;
  padding:none;
  margin:none;
  z-index:2999;
  transition:all 3s ease;
}

main.front{
  padding-bottom:200px;
  padding-top:200px;
}