$background: darkblue;
$background2: navy;

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Gothic+A1&family=Kanit:wght@100;200&family=Nunito:wght@200&family=Rubik:wght@900&display=swap');

@import "animations.scss";
@import "base/body";

@import "components/logo.scss";
@import "components/icons.scss";
@import "components/button.scss";

@import "layout/footer.scss";
@import "layout/front.scss";
@import "layout/instructions.scss";
@import "layout/loading.scss";

@import "qr.scss";
@import "map.scss";


main.splash {
    flex-grow: 1;
    overflow: hidden;
    display: grid;
}

.wash {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    transform-origin: center center;
    background-color: aqua;
    margin: none;
}

path {
    transition: all 1s ease-in-out;
}

h1 {
    font-size: 4rem;
    background-color: $background2;
    padding: 1em;
}


path {
    transition: opacity 1s ease-in-out;
}

#holder {
    max-height: 10vh;
    top: 0;
    margin: 0px !important;
    font-size: 2rem;
}

.bar {
    display: flex;
    flex-basis: 20%;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    row-gap: 1em;
    flex-wrap: wrap;
}

canvas#overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;
    touch-action:none;
    pointer-events:none;
    overflow:hidden;
    -webkit-user-select: none;
    user-select:none;
  }

  button.nav__back{
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    margin:auto;
    display:block;
    width:auto;
    z-index:3000;
    background-color:$background2;
  }
  
  .nav__back{
    cursor:pointer;
  }

  .link{
    font-size:3rem;
    text-underline-offset: 0.4em;
  }
  
  a{
    color:lightgray;
  }
  
  a:visited{
        color:#bbb;
  }
  
  .textBlock{
    display:inline-block;
    padding:1em;
    margin:1em;
    background-color:hsl(233.26,50.28%,65.29%);
    font-size:1.5rem;
    border-radius:0.4rem;
  }
  
  .textColumn{
    max-width:90%;
    margin:auto;
    border-radius:0.4rem;
}

.highlight{
    background-color:$background;
    padding:1em;
    text-align:center;
}