/* ⚝ Biodivergent Sites and Sounds */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Gothic+A1&family=Kanit:wght@100;200&family=Nunito:wght@200&family=Rubik:wght@900&display=swap');

// note: imports should be changed to @use where possible

@import "abstracts/colours";

@import "animations";
@import "base/body";
@import "base/typography";

@import "components/logo";
@import "components/icons";
@import "components/button";

@import "layout/about";
@import "layout/footer";
@import "layout/front";
@import "layout/instructions";
@import "layout/loading";

@import "elements/ripples.scss";
@import "elements/heart.scss";
@import "elements/mix.scss";
@import "elements/words.scss";

@import "qr";
@import "map";


main.splash {
    flex-grow: 1;
    overflow: hidden;
    display: grid;
}

.wash {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    transform-origin: center center;
    background-color: $wash;
    margin: none;
}

path {
    transition: all 1s ease-in-out;
}

h1 {
    font-size: 4rem;
    font-family: Crimson Text;
    background-color: $background2;
    
    &.padded{
      padding: 1em;
    }
}

p {
    font-size: 20px;
    // font-family: Crimson Text;
    // background-color: $background2;
    // padding: 1em;
}

path {
    transition: opacity 1s ease-in-out;
}

#holder {
    max-height: 10vh;
    top: 0;
    margin: 0px !important;
    font-size: 2rem;
}

.bar {
    display: flex;
    flex-basis: 20%;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    row-gap: 1em;
    flex-wrap: wrap;
}

canvas#overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;
    touch-action:none;
    pointer-events:none;
    overflow:hidden;
    -webkit-user-select: none;
    user-select:none;
  }

  button.nav__back{
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    margin:auto;
    display:block;
    width:auto;
    z-index:3000;
    // background-color:$background2;
  }
  
  button.nav__info{
    position:fixed;
    top:10px;
    // left:10px;
    right:20px;
    margin:auto;
    display:block;
    width:auto;
    z-index:3000;
    // background-color:$background2;
  }
  
  
  
  .nav__back{
    cursor:pointer;
  }
  
  a{
    color:$link;
  }
  
  a:visited{
        color:$link--visited;
  }
  
  .textBlock{
    display:inline-block;
    padding:1em;
    margin:1em;
    background-color:$background-text;
    font-size:1.5rem;
    border-radius:0.4rem;
  }
  
  .textColumn{
    max-width:90%;
    margin:auto;
    border-radius:0.4rem;
}

.highlight{
    background-color:$background;
    padding:1em;
    text-align:center;
}

body.fullpage{
  // -webkit-pointer-events: none;
  // pointer-events:none;
  overflow:hidden;
  transition:all 1s ease;
  height:100vh;
  width:100vw;
  max-height:100vh;
  max-width:100vw;
}

.wordContainer{
  max-width: 90vw;
  max-height:90vh;
}

.awaitStart{
  transition:opacity 10s ease;
}

.transparent{
  opacity:0;
}

.title__back{
  // max-width:300px;
  height:100px;
  max-width:75vw;
  // height:100%;
  padding:none;
  cursor: pointer;
}

.title__button{
  background-color:$background2;
  // max-width:300px;
  max-width:75vw;
  height:100px; 
  padding:none;
  border:none;
  border: 2px solid $outline-grey;
  transition: background-color 170ms ease-in-out, border-color 170ms ease-in-out;
  border-radius:10px;
  cursor: pointer;
}

.title__button:hover{
  background-color: $background-text;
  border-color: transparent;
  color: $background;
  cursor: pointer;
} 

.nav__info{
  cursor:pointer;
  border:none;
  width:100px;
  max-width: 20vw;
  // max-width:100px;
  max-height:100px;
  background-color:transparent;
}

.nav__info:hover{
  // background-color: $outline;
  // border-color: transparent;
  // color: $background;
  cursor: pointer;
}

.title__info{
  width:100px;
  max-width:20vw;
  height:100px;
}