/* ⚝ Map */

/// map layer

.map__layer{
    -webkit-user-select: none;
    user-select: none;
    position:absolute;
    z-index:0;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    margin:auto;
}

/// map main

.map__main{
    border-radius:0.4rem;
    position:relative;
    width:100%;
    display:block;
    top:0;
    left:0;
    background-image:url("svg/map__bg_main-01.svg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

/// map trail

.map__trail{
    border-radius:0.4rem;
    
    position:relative;
    width:100%;
    display:block;
    top:0;
    left:0;
}

/// map backdrop

#backdrop {
    -webkit-user-select: none;
    user-select:none;
    filter:brightness(70%) grayscale(0%) hue-rotate(0deg);
    touch-action:none;
    overflow:hidden;
    width:100vw;
    height:100vh;
    
    transition: filter 1s;
    background-color:$background2;
    background-image:url("svg/element_painting.svg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

/// map backdrop 2

#backdrop__map {
    -webkit-user-select: none;
    user-select:none;
    filter:brightness(70%) grayscale(0%) hue-rotate(0deg);
    touch-action:none;
    overflow:hidden;
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition: filter 1s;
    background-color:$background2;
    background-image:url("svg/element_painting.svg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

/// backdrop with interaction

#backdrop.interacting {
    filter:brightness(80%) grayscale(100%) hue-rotate(0deg);
}

/// map 2

#map2{
    opacity:0.9;
}

/// water halo

.water__halo.halo{
    opacity:0.3;
}

/// water halo

.halo{
    opacity:0.3;
}

.element__number{
    font-family: $font-text!important;
    font-size: 1.5rem!important;
}