.map__layer{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    bottom:0;
    right:0;
    margin:auto;
    -webkit-user-select: none; 
    user-select: none; 
}

#backdrop {
    -webkit-user-select: none; 
    background-color:navy;
    background-image:url("svg/element_painting.svg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    filter:brightness(70%) grayscale(0%) hue-rotate(0deg);
    height:100vh;
    overflow:hidden;
    touch-action:none;
    transition: filter 1s;
    user-select:none;
    width:100vw;
}

#backdrop.interacting {
    filter:brightness(80%) grayscale(100%) hue-rotate(0deg);
}