.qr__container{
    background-image:url("bg1.svg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}


.qr__svg{
    border-radius:10px;
    display:inline-block;
    height:25vh;
    width:15vw;
    // width:200px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    min-width: 150px;
    min-height: 200px;
    /* max-width:40vh;
    max-height:80vh; */
    background-image:url("bg1.svg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border: 2px solid darkblue;
    padding:1em;
    margin:none;
    transition: all 0.1s ease-in-out;
}

.qr__svg:active{
    transform:translate(0px,3px);
    pointer:cursor;
}

.qr__svg.elements__ripples{
    background-image:url("element_ripples.svg");
}

.qr__svg.elements__painting{
    background-image:url("element_painting.svg");
}

.qr__svg.elements__mix{
    background-image:url("element_mix.svg");
}

.qr__svg.elements__text{
    background-image:url("element_text.svg");
}

.main__qr{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    margin:2em;
    flex-grow: 1;
    background-color:navy;
}