/* ⚝ QR codes */

.qr__number{
    font-size:40px;
    background-color:$number;
    color:black;
    mix-blend-mode:screen;
    font-weight:bold;
    margin:0;
    padding:0;
    width:50px;
    height:50px;
    border-radius:50%;
    text-align:center;
    vertical-align:middle;
    line-height:50px;
    opacity:1;
    align-self:center;
}

.qr__number.high-contrast{
    color:$background--hc;
    background-color:$number--hc;
    mix-blend-mode:normal;
}

.qr__text{
    font-size:30px;
    font-weight:100;
    letter-spacing: 0.1em;
    margin:0;
    padding:0;
    opacity:1;
    align-self:center;
    color:$number;
}

.qr__container{
    background-image:url("bg1.svg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.qr__container.elements{
    // gap: 2em;
}

.qr__card{
    font-family: Crimson Text;
    border-radius:10px;
    display:inline-flex;
    flex-direction:column;
    justify-content:space-around;
    
    box-shadow: 0px 0px 10px 0px $shadow;
    height:250px;
    width:130px;
    background-image:url("bg1.svg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border: 2px solid darkblue;
    padding:1em;
    // margin:none;
    transition: all 0.1s ease-in-out;
}

.qr__card:hover{
    transform:translate(0px,3px);
    cursor:pointer;
    box-shadow: 0px 0px 20px 0px $shadow;
    border: 2px solid $number;
}

.qr__svg{
    display:block;
    height:140px;
    width:140px;
    margin:none;
    padding:none;
    transition: all 0.1s ease-in-out;
    align-self:center;
}

.qr__card:active{
    transform:translate(0px,3px);
    cursor:pointer;
}

.qr__card.elements__ripples{
    background-image:url("svg/element_ripples.svg");
}

.qr__card.elements__painting{
    background-image:url("svg/element_painting.svg");
}

.qr__card.elements__mix{
    background-image:url("svg/element_mix.svg");
}

.qr__card.elements__bridge{
    background-image:url("svg/element_bridge.svg");
}

.qr__card.elements__text{
    background-image:url("svg/element_text.svg");
}

.qr__card.elements__circle{
    background-image:url("svg/element_circle.svg");
}

.main__qr{
    
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    gap: 10em;
    margin:2em;
    flex-grow: 1;
    background-color:navy;
}

main.qr__container{
    background-color:$background2;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2em;
    justify-items:center;
    align-items:center;
    margin:2em;
}