button{
    font-size: 2rem;
}

.mute{
    width:2rem;
    height:2rem;
    margin:2rem;
}

#crossFader{
    width:80%;
}

#start{
    font-size:2rem;
}

body {
    background-color:navy;
    transition: filter 1s;
    overflow:hidden;
    touch-action:none;
    user-select:none;
    -webkit-user-select: none; /* Safari */
    background-image:url("../../bg1.svg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:100vh;
    width:100vw;
}

.body__background {
    background-color:navy;
    transition: filter 1s;
    overflow:hidden;
    touch-action:none;
    user-select:none;
    -webkit-user-select: none; /* Safari */
    background-image:url("../../bg1.svg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:100vh;
    width:100vw;
    position:absolute;
    display:block;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-1;
    opacity:0.8;
    

}

.waveform{
    position:absolute;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

.waveform#left{
    right:auto;
    left:2em;
}

.waveform#right{
    left:auto;
    right:2em;
}

.main__background{
    position:relative;
    height:100%;
    width:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: linear-gradient(90deg, #F9D423 0%, rgba(32,42,68,0.4) 100%);
    display:block;
    opacity:0.8;
    filter:hue-rotate(180deg)
}

.main__qr{
    transition:background 1s;
    background: linear-gradient(90deg, rgba(249,212,35,0.5) 0%, rgba(32,42,68,0.4) 100%);
    /* mask-image: linear-gradient(90deg, transparent 5%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 0%, transparent 95%); */
    /* mask-image: linear-gradient(89deg, transparent 5%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, transparent 95%); */
    border-radius:10px;
}

.meter{
    width:800px;
    height:800px;
    transition:all 1s;
    position:absolute;
    z-index:-1;
    /* top:calc(50vh - 100px); */
    display:block;
    border-radius:50%;
    opacity:0.3;
}

#meter_0{
    /* background-color:rgba(249,212,35,0.5); */
    /* left:-400px; */
    left:calc(50vw - 400px);
}
#meter_1{
    /* background-color:rgba(249,212,35,0.5); */
    /* right:-400px; */
    right:calc(50vw - 400px);
}